@charset "utf-8";





/* Font-Face
============= */
/* font-family: 'Kanit', sans-serif; */
/* @font-face {
    font-family:'markpro';
    src:url('fonts/markpro/MarkPro-Narrow.eot');
    src:url('fonts/markpro/MarkPro-Narrow.eot?#iefix') format('embedded-opentype'),
        url('fonts/markpro/MarkPro-Narrow.woff2') format('woff2'),
        url('fonts/markpro/MarkPro-Narrow.woff') format('woff'),
        url('fonts/markpro/MarkPro-Narrow.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'markpro-bold';
    src:url('fonts/markpro/MarkPro-NarrowBold.eot');
    src:url('fonts/markpro/MarkPro-NarrowBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/markpro/MarkPro-NarrowBold.woff2') format('woff2'),
        url('fonts/markpro/MarkPro-NarrowBold.woff') format('woff'),
        url('fonts/markpro/MarkPro-NarrowBold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'markpro-black';
    src:url('fonts/markpro/MarkPro-NarrowBlack.eot');
    src:url('fonts/markpro/MarkPro-NarrowBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/markpro/MarkPro-NarrowBlack.woff2') format('woff2'),
        url('fonts/markpro/MarkPro-NarrowBlack.woff') format('woff'),
        url('fonts/markpro/MarkPro-NarrowBlack.ttf') format('truetype');
    font-weight:900;
    font-style:normal;
}
@font-face {
    font-family:'markpro-italic';
    src:url('fonts/markpro/MarkPro-NarrowItalic.eot');
    src:url('fonts/markpro/MarkPro-NarrowItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/markpro/MarkPro-NarrowItalic.woff2') format('woff2'),
        url('fonts/markpro/MarkPro-NarrowItalic.woff') format('woff'),
        url('fonts/markpro/MarkPro-NarrowItalic.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
} */

@font-face {
    font-family: 'markpro';
    src: url('fonts/kanit/Kanit-Light.eot');
    src: url('fonts/kanit/Kanit-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/kanit/Kanit-Light.woff2') format('woff2'),
        url('fonts/kanit/Kanit-Light.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'markpro-bold';
    src: url('fonts/kanit/Kanit-Medium.eot');
    src: url('fonts/kanit/Kanit-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/kanit/Kanit-Medium.woff2') format('woff2'),
        url('fonts/kanit/Kanit-Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'markpro-black';
    src: url('fonts/kanit/Kanit-Black.eot');
    src: url('fonts/kanit/Kanit-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/kanit/Kanit-Black.woff2') format('woff2'),
        url('fonts/kanit/Kanit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'markpro-italic';
    src: url('fonts/kanit/Kanit-LightItalic.eot');
    src: url('fonts/kanit/Kanit-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/kanit/Kanit-LightItalic.woff2') format('woff2'),
        url('fonts/kanit/Kanit-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* End Font-Face ------------- */



* {-webkit-tap-highlight-color:transparent; text-rendering:optimizeLegibility; outline:none; }



html {font-size:62.5%; }



#wrapper *,
#wrapper *::before,
#wrapper *::after {box-sizing:border-box; }



body {background-color:#fff; margin:0; padding:0; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }





/* Paragraph Style
============= */
body {font:normal 1.8rem/1.6em 'markpro', Arial, Helvetica, sans-serif; color:#231f20; }


h1, h2, h3, h4, h5, h6 {margin:0; line-height:1.4em; }


ul, ol {padding:0; margin:0; list-style:none; }


blockquote {margin:0 0 18px 18px; color:#666; font-style:italic; }

strong {font-weight:bold; }
em {font-style:italic; }

small {font-size:77.778%; }

p {margin:0; }
p + p {margin-top:36px; }

a {transition:color 250ms ease; }
a:link, a:visited {color:inherit; text-decoration:none; }
.desktop a:hover, a:active {color:#065c9d; }


label,
button {cursor:pointer; }

/* End Paragraph Style ------------- */





/* Standard Style
============= */

img {display:block; }

.img-left {float:left; margin:20px 20px 20px 0; }
.img-right {float:right; margin:20px 0 20px 20px; }

.align-right {text-align:right; }
.align-left {text-align:left; }
.align-center {text-align:center; }
.align-justify {text-align:justify; }

.clear {height:0px; display:block; padding:0; margin:0; line-height:0; clear:both; overflow:hidden; visibility:hidden; }

.clear-float::after {content:''; height:0px; display:block; padding:0; margin:0; line-height:0; clear:both; overflow:hidden; visibility:hidden; }

/* End Standard Style ------------- */





/* Standard Layout
============= */

.page-center {width:1170px; max-width:calc(100% - 12px); height:100%; position:relative; margin:0 auto; }

/* End Standard Layout ------------- */





/* Main Elements
============= */

#wrapper {min-height:100vh; height:100%; position:relative; margin:0 auto; overflow:hidden; }



#header,
#container,
#footer {width:100%; position:relative; padding:0; margin:0; overflow:hidden; }



#container {min-height:100vh; padding-top:130px; }

/* Main Elements ------------- */





/* Share
============= */

/* Header */
#header {height:130px; background-color:#fff; border-bottom:1px solid #cdd0d1; position:fixed; left:0; top:0; z-index:99990; transition:200ms ease; overflow:visible; }

#header .page-center {z-index:13; }

#header .logo {width:130px; height:97px; display:block; background:url('../img/share/logo.png') 0 0/100% no-repeat; position:absolute; left:16px; top:16px; z-index:1313; transition:200ms ease; }
#header .logo a {width:100%; height:100%; }


#header .group-menu-header {position:absolute; right:0; left:400px; top:27px; }

#header .mainmenu {display:flex; flex-wrap:wrap; }
#header .mainmenu .col + .col {margin-left:98px; }
#header a {display:block; font:normal 1.6rem/1em 'markpro'; color:#231f20; }
#header .mainmenu .col a + a {margin-top:16px; }
.desktop #header a:hover,
#header a.active {color:#065c9d; }

#header .menu-news {margin-bottom:16px; }
#header .submenu {display:none; }
.desktop #header .menu-news:hover .submenu {display:block; }
#header .submenu a {position:relative; padding-left:20px; margin-top:5px; font-size:1.4rem; color:#49695c; }
#header .submenu a::before {content:''; width:15px; height:10px; display:block; background:url('../img/share/bullet.png') no-repeat; position:absolute; left:0; top:3px; }
#header .submenu a + a {margin-top:5px !important; }

.mobile #header .submenu {display:block; }


#header .tools {display:block; position:absolute; right:96px; top:0; transition:200ms ease; }

#header .tools a {display:block; }

#header .box-search.outer {display:none; }

#header .group-menu-header .box-search {display:block; }

#header .box-search {width:17px; height:17px; position:relative; transition:200ms ease; }
#header .box-search .btn-search {width:17px; height:17px; background:url('../img/icons/search.png') no-repeat; position:absolute; left:0; top:0; z-index:13; }
#header .box-search .inputtext-style {width:170px; position:absolute; left:0; top:0; padding-left:40px; opacity:0; visibility:hidden; transition:200ms ease; }
#header .box-search.open-search {height:25px; }
#header .box-search.open-search .inputtext-style {opacity:1; visibility:visible; }

#header .tools .language {display:none !important; margin-top:10px; }
#header .tools .language p {display:none; }
#header .tools .language a {display:inline-block; position:relative; }
#header .tools .language a + a {padding-left:10px; margin-left:0; }
#header .tools .language a + a::before {content:'/'; position:absolute; left:0; top:0; }

#header .tools .btn-register {margin-top:10px; font:normal 1.6rem/1em 'markpro-bold'; color:#0e3650; }


/* Hamburger Style */
.hamburger {width:70px; height:70px; display:none !important; position:absolute; right:0; top:0; z-index:1313; transition:box-shadow 0.4s ease; backface-visibility: hidden; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }

.hamburger > div {width:calc(100% - 40px); height:2px; display:-webkit-flex; display:-moz-flex; display:-ms-flex; display:-o-flex; display:flex; background-color:#04080e; border-radius:0; -webkit-box-flex:0; -ms-flex:none; flex:none; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,calc(-50% - 3px)); -ms-transform:translate(-50%,calc(-50% - 3px)); -o-transform:translate(-50%,calc(-50% - 3px)); transform:translate(-50%,calc(-50% - 3px)); transition:all 0.4s ease; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; }
.hamburger > div::before,
.hamburger > div::after {content:''; width:100%; height:2px; background:inherit; border-radius:0; position:absolute; left:0; top:6px; z-index:1313; transition: all 0.4s ease;
}
.hamburger > div::after {top:6px; }

.hamburger.active > div {-webkit-transform:translate(-50%,-50%) rotate(135deg); -ms-transform:translate(-50%,-50%) rotate(135deg); -o-transform:translate(-50%,-50%) rotate(135deg); transform:translate(-50%,-50%) rotate(135deg); }
.hamburger.active > div::before,
.hamburger.active > div::after {top:0; -webkit-transform:rotate(90deg); -ms-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg); }
/* End Hamburger Style */





#header .menu-page {width:100%; background-color:#f2f3f1; border-bottom:1px solid #e9e9e9; padding:5px 0 8px; margin-top:1px; opacity:0; visibility:hidden; transition:100ms ease; }
#header .menu-page ul {display:flex; align-items:center; justify-content:center; }
#header .menu-page li {position:relative; font-size:1.4rem; }
#header .menu-page li + li {padding-left:14px; margin-left:14px; }
#header .menu-page li + li::before {content:''; width:1px; height:12px; display:block; background-color:#717070; position:absolute; left:0; top:3px; }
#header .menu-page li.active a {font-family:'markpro-bold'; color:#231f20; }


#header.mini .menu-page {opacity:1; visibility:visible; }



#header.mini {height:70px; }

#header.mini .hamburger {display:block !important; }

#header.mini .logo {width:75px; height:54px; top:9px; }

#header.mini .group-menu-header {height:100%; top:0; }

#header.mini .mainmenu {width:285px; flex-wrap:wrap; background-color:#fff; border:1px solid #cdd0d1; border-top:none; position:absolute; right:0; top:50px; padding:0 14px; opacity:0; visibility:hidden; }
#header.mini .mainmenu .col {width:100%; margin:0; }
#header.mini .mainmenu .col > a {border-top:2px solid #f4f5f4; padding:22px 32px; margin:0; text-transform:uppercase; }
#header.mini .mainmenu .col:first-child a:first-child {border:none; }

#header.mini .mainmenu .col .menu-news {border-top:2px solid #f4f5f4; padding:22px 32px; margin-bottom:0; }
#header.mini .mainmenu .col .menu-news > a {text-transform:uppercase; }
#header.mini .mainmenu .col .menu-news .submenu a {margin-top:10px !important; }

.open-menu #header.mini .mainmenu {top:70px; opacity:1; visibility:visible; transition:200ms ease; }

#header.mini .tools {height:100%; display:flex; right:70px; align-items:center; }

#header.mini .tools .box-search {margin: 0 38px 0 0; overflow:hidden; }
#header.mini .tools .box-search.open-search {width:170px; }
#header.mini .tools .box-search.open-search .inputtext-style {left:auto; right:0; }

#header.mini .tools .language {margin:0 38px 0 0; }

#header.mini .tools .btn-register {width:170px; height:40px; display:flex; align-items:center; justify-content:center; background-color:#0e3650; margin:0 30px 0 0; color:#f2f3f1 !important; transition:250ms ease; }
.desktop #header.mini .tools .btn-register:hover {background-color:#231f20; }
/* End Header */





/* Footer */
#footer .section-top {background-color:#fff; padding:46px 0; }

#footer .section-top .page-center {display:flex; justify-content:space-between; }

#footer .section-top .box-subscribe {display:flex; align-items:center; }

#footer .section-top .box-subscribe p {margin-right:46px; font-size:2rem; color:#065c9d; }
#footer .section-top .box-subscribe p strong {font-weight:normal; font-family:'markpro-bold'; }

#footer .section-top .box-subscribe input {width:370px; height:40px; background:url('../img/icons/arrow-right-small-dark.png') calc(100% - 15px) 50% no-repeat; border:1px solid #d7d6d6; padding:0 40px 0 20px; font:normal 1.8rem/1em 'markpro'; color:#065c9d; transition:200ms ease; }
#footer .section-top .box-subscribe input:focus {background-position:calc(100% - 10px) 50%; }
#footer .section-top .box-subscribe input::-webkit-input-placeholder {color:#065c9d; }
#footer .section-top .box-subscribe input::-moz-placeholder {color:#065c9d; }
#footer .section-top .box-subscribe input:-ms-input-placeholder {color:#065c9d; }
#footer .section-top .box-subscribe input:-moz-placeholder {color:#065c9d; }

#footer .section-top .btn-facebook {display:flex; align-items:center; font-size:1.6rem; color:#065c9d; white-space:nowrap; }
#footer .section-top .btn-facebook::after {content:''; min-width:38px; height:38px; display:block; background:#065c9d url('../img/icons/facebook@2x.png') 50% 50%/12px 24px no-repeat; border-radius:50%; margin-left:12px; }


#footer .section-bottom {background-color:#0e3650; padding:18px 0 14px; color:#fff; }

#footer .section-bottom .top {display:flex; align-items:flex-end; padding:0 10px; }
#footer .section-bottom .top .logo {min-width:85px; height:60px; display:block; background:url('../img/share/logo-white@2x.png') 0 0/100% no-repeat; }
#footer .section-bottom .top p {position:relative; top:8px; margin-left:40px; font-size:1.4rem; }

#footer .section-bottom .bottom {display:flex; border-top:1px solid #065c9d; padding:10px 10px 0; margin-top:10px; }
#footer .section-bottom .bottom a {display:block; margin-left:35px; font-size:1.4rem; }
#footer .section-bottom .bottom a:first-child {margin-left:0; }

#footer .section-bottom .bottom .btn-to-top {display:flex; align-items:center; }
#footer .section-bottom .bottom .btn-to-top::after {content:''; width:9px; height:9px; display:block; background:url('../img/icons/arrow-top-white.png') no-repeat; position:relative; top:2px; margin-left:6px; transition:200ms ease; }
.desktop #footer .section-bottom .bottom .btn-to-top:hover::after {top:0; }
/* End Footer */





/* Toolkit */
.list-bullet {padding:0; margin:10px 0; list-style:none; }
.list-bullet > li {position:relative; padding-left:12px; margin-top:5px; }
.list-bullet > li:first-child {margin-top:0; }
.list-bullet > li::before {content:''; width:4px; height:4px; display:block; background-color:#231f20; border-radius:50%; position:absolute; left:0; top:15px; text-indent:-9999px; }

.list-bullet ul li {position:relative; padding-left:26px; font-family:'markpro'; }
.list-bullet ul li::before {content:''; width:15px; height:10px; display:block; background:url('../img/share/bullet.png') no-repeat; position:absolute; left:0; top:10px; }


.list-bullet.-bold li {font-family:'markpro-bold'; }
.list-bullet.-bold > li + li {margin-top:28px; }
.list-bullet.-bold > li::before {width:5px; height:5px; }
.list-bullet.-bold ul li {position:relative; padding-left:26px; font-family:'markpro'; }
.list-bullet.-bold ul li::before {content:''; width:15px; height:10px; display:block; background:url('../img/share/bullet.png') no-repeat; position:absolute; left:0; top:10px; }

.list-bullet.light-style li {color:#fff; }
.list-bullet.light-style li::before {background-color:#fff; }
.list-bullet.light-style ul li::before {background-image:url('../img/share/bullet-green.png'); background-color:transparent; }



.list-number {padding:0; margin:5px 0; list-style:none; counter-reset:number; }
.list-number > li {counter-increment:number; position:relative; padding-left:20px; margin-top:8px; }
.list-number > li:first-child {margin-top:0; }
.list-number > li::before {content:counter(number)'.'; position:absolute; left:0; top:0; }



.accordion .item {margin-top:48px; }

.accordion .item .item-content {display:none; margin-top:25px; overflow:hidden; }
.accordion .item.active .item-content {display:block; }

.accordion .item > a {display:block; position:relative; margin-bottom:0; font-size:2.4rem; text-align:center; }
.accordion .item > a .img {height:70px; display:flex; align-items:center; justify-content:center; margin:0; }
.accordion .item > a span {text-decoration:underline; }
.accordion .item > a span::after {content:''; width:14px; height:14px; display:inline-block; background:url('../img/icons/accordion.png') 50% 50% no-repeat; margin-left:12px; }

.accordion .item.active > a span::after {content:''; background-image:url('../img/icons/accordion-active.png'); }

.accordion .item > a .img::after {display:none; }



.hover-img {display:block; overflow:hidden; }
.hover-img img {-webkit-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1); transition:250ms ease; }
.desktop .hover-img:hover img {-webkit-transform:scale(1.05); -ms-transform:scale(1.05); -o-transform:scale(1.05); transform:scale(1.05); }

.desktop .hover-img.-less:hover img {-webkit-transform:scale(1.025); -ms-transform:scale(1.025); -o-transform:scale(1.025); transform:scale(1.025); }



html .btn-style {max-width:80%; display:flex; justify-content:center; align-items:center; background:none; border:1px solid #d7d6d6; border-radius:0; padding:5px 25px; margin:0 auto; font-family:'markpro-bold'; color:#065c9d; }
html .btn-style::after {content:''; min-width:15px; height:14px; display:inline-block; background:url('../img/icons/arrow-right-small-dark.png') no-repeat; position:relative; left:0; margin-left:12px; transition:200ms ease; }
html.desktop .btn-style:hover::after {left:5px; }

html .btn-style.-plus::after {background-image:url('../img/icons/plus.png'); -webkit-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); transform:scale(1); }
html.desktop .btn-style.-plus:hover::after {left:0; -webkit-transform:scale(1.1); -ms-transform:scale(1.1); -o-transform:scale(1.1); transform:scale(1.1); }

html .btn-style.-down::after {background-image:url('../img/icons/download.png'); top:2px; }
html.desktop .btn-style.-down:hover::after {left:0; top:7px; }

html .btn-style.-share::after {background-image:url('../img/icons/arrow-share-dark.png'); top:6px; margin-left:10px; }
html.desktop .btn-style.-share:hover::after {left:5px; top:2px; }

html .btn-style.-back::after {display:none; }
html .btn-style.-back::before {content:''; min-width:15px; height:14px; display:inline-block; background:url('../img/icons/arrow-left-small-dark.png') no-repeat; position:relative; left:0; margin-right:12px; transition:200ms ease; }
html.desktop .btn-style.-back:hover::before {left:-5px; top:0; }

html .btn-style.-pin::after {width:19px; height:23px; background-image:url('../img/icons/pin.png'); top:0px; }
html.desktop .btn-style.-pin:hover::after {left:0; top:-5px; }


html .btn-text {display:inline-block; color:#065c9d; text-decoration:underline; }

html .btn-text.-next::after {content:''; width:7px; height:11px; display:inline-block; background:url('../img/icons/btn-next.png') no-repeat; position:relative; left:12px; transition:200ms ease; }
html.desktop .btn-text.-next:hover::after {left:17px; }


html .-solid {background-color:#0e3650; border:none; color:#fff !important; transition:250ms ease; }
html .-solid::after {display:none; }
html.desktop .-solid:hover {background-color:#231f20; }


.btn-close {width:36px; height:36px; display:block; background:url('../img/icons/close.png') 50% 50%/100% no-repeat; position:absolute; right:16px; top:16px; transition:200ms ease; }
.desktop .btn-close:hover {-webkit-transform:rotate(90deg); -ms-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg); }

.btn-close.light-style {background-image:url('../img/icons/close-white.png'); }
/* End Toolkit */





/* Form */
.form-style ul {margin-top:-50px; overflow:hidden; }

.form-style li {margin-top:50px; }

.form-style li .row {display:flex; flex-wrap:wrap; justify-content:space-between; }

.form-style li .col {width:100%; position:relative; }


.form-style .required > label::after {content:'*'; }

.form-style ul li label {width:100%; display:inline-block; position:absolute; left:0; top:-6px; font-family:'markpro-bold'; transition:200ms ease; cursor:pointer; }
.form-style ul li .col.focus .inputtext-style ~ label {top:-30px; }


.form-style input[type=number]::-webkit-inner-spin-button, 
.form-style input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none; margin:0; }

.form-style input[type=number] {-moz-appearance:textfield; }



.form-style .inputtext-style,
.form-style .textarea-style,
.form-style .select-style {width:100%; height:100%; display:block; background:none; border:none; border-bottom:1px solid #065c9d; border-radius:0; padding:0; appearance:none; -webkit-appearance:none; -moz-appearance:none; }


.form-style .inputtext-style::-webkit-input-placeholder {}
.form-style .inputtext-style::-moz-placeholder {}
.form-style .inputtext-style:-ms-input-placeholder {}
.form-style .inputtext-style:-moz-placeholder {}

.form-style .textarea-style::-webkit-input-placeholder {color:#231f20; }
.form-style .textarea-style::-moz-placeholder {color:#231f20; }
.form-style .textarea-style:-ms-input-placeholder {color:#231f20; }
.form-style .textarea-style:-moz-placeholder {color:#231f20; }


.form-style .inputtext-style::-ms-clear {display:none; }



.form-style .textarea-style {height:132px; border:1px solid #065c9d; padding:20px; resize:none; }

.form-style .textarea label {position:relative; left:0; top:0; }



.form-style .select-style {cursor:pointer; }



.form-style .checkbox-style .row + .row {margin-top:10px; }
.form-style .checkbox-style .row .col {width:auto; min-width:50%; }

.form-style .checkbox-style p {margin:0 0 20px; border-bottom:1px solid #065c9d; font-family:'markpro-bold'; color:#065c9d; }

.form-style .checkbox-style input[type="checkbox"] {display:none; }
.form-style .checkbox-style label {position:relative; padding-left:30px; line-height:20px; }
.form-style .checkbox-style label::before {content:''; width:20px; height:20px; display:block; background-color:transparent; border:1px solid #918f8f; border-radius:50%; position:absolute; left:0; top:0; }
.form-style .checkbox-style label::after {content:''; width:20px; height:20px; display:block; background:url('../img/icons/correct.png') 50% 50% no-repeat; position:absolute; left:0; top:5px; opacity:0; transition:200ms ease; }
.form-style .checkbox-style input[type="checkbox"]:checked + label::before {background-color:#0e3650; border-color:#0e3650; }
.form-style .checkbox-style input[type="checkbox"]:checked + label::after {top:0; opacity:1; }



.form-style .radio-style .row + .row {margin-top:10px; }
.form-style .radio-style .row .col {width:auto; min-width:50%; }

.form-style .radio-style p {margin:0 0 20px; border-bottom:1px solid #065c9d; font-family:'markpro-bold'; color:#065c9d; }

.form-style .radio-style input[type="radio"] {display:none; }
.form-style .radio-style label {position:relative; padding-left:30px; line-height:20px; }
.form-style .radio-style label::before {content:''; width:20px; height:20px; display:block; background-color:transparent; border:1px solid #918f8f; border-radius:50%; position:absolute; left:0; top:0; }
.form-style .radio-style label::after {content:''; width:20px; height:20px; display:block; background:url('../img/icons/correct.png') 50% 50% no-repeat; position:absolute; left:0; top:5px; opacity:0; transition:200ms ease; }
.form-style .radio-style input[type="radio"]:checked + label::before {background-color:#0e3650; border-color:#0e3650; }
.form-style .radio-style input[type="radio"]:checked + label::after {top:0; opacity:1; }



.form-style .error .inputtext-style,
.form-style .error .textarea-style,
.form-style .error .select-style {border-color:red; }

.form-style .checkbox-style .error label::before {border-color:red; }

.form-style .radio-style .error label::before {border-color:red; }



.form-style .required::after {content:attr(validate); display:none; margin-top:5px; color:red; }
.form-style .required.error::after {display:block; }
/* End Form */



/* Table Style */
.table-style {width:100%; overflow:hidden; overflow-x:auto; }
.table-style table {width:100%; min-width:1032px; border-collapse:collapse; border:0; vertical-align:middle; text-align:center; }

.table-style table thead th {background-color:#ccc; }

.table-style table tbody td {background-color:#fff; }
/* End Table Style */



/* Set Class for Responsive */
.desktop-style {display:block !important; }
.mobile-style {display:none !important; margin-bottom: 55px;}
/* End Set Class for Responsive */



/* Set Default Style */
.section {padding:80px 0; }


.content strong {font-weight:normal; font-family:'markpro-bold'; }



/* Color */
.green {color:#065c9d !important; }
/* End Color */



[class^="bg-"] {overflow:hidden; }

.bg-rectangle-white {background:url('../img/share/bg-rectangle-white-new.png') 50% 50% repeat; }

.bg-rectangle-green {background:url('../img/share/bg-rectangle-green.png') 50% 50% repeat; }

.bg-wood-green {background:url('../img/share/bg-wood-green-new.png') 50% 50% repeat; }

.bg-wood-cream {background:url('../img/share/bg-material-cream.png') 50% 50% repeat; }

.bg-wood-white {background:url('../img/share/bg-wood-white.png') 50% 50% repeat; }

.bg-leaf-cream {background:url('../img/share/bg-leaf-cream.png') 50% 50% repeat; }

.bg-sky {background:url('../img/share/bg-sky.jpg') 50% 100%/cover repeat; }

.bg-orange {background:url('../img/share/bg-orange.jpg') 50% 100%/cover repeat; }



.clear-bold {font-family:'markpro' !important; }
.clear-color {color:inherit !important; }



.underline {display:inline-block; position:relative; padding-bottom:10px; margin-bottom:12px; }
.underline::after {content:''; width:100%; height:1px; background-color:#065c9d; position:absolute; left:0; bottom:0; }

.upperline {display:inline-block; position:relative; padding-top:16px; margin-top:12px; }
.upperline::before {content:''; width:100%; height:1px; background-color:#065c9d; position:absolute; left:0; top:0; }

.light-style .underline::after {background-color:#fff; }



.title-section {position:relative; margin-bottom:40px; text-align:center; color:#231f20; z-index:13; }
.title-section span {color:#065c9d; }

.title-section h1 {margin:0 0 12px; font:normal 3rem/1.4em 'markpro-bold'; letter-spacing:3px; }

.title-section p {font:normal 2rem/1.4em 'markpro'; letter-spacing:1px; }

.title-section .underline h1 {margin-bottom:0; }


.title-section.light-style {color:#fff; }



.list-content {display:flex; flex-wrap:wrap; margin:-60px 0 0 -100px; }
.list-content .item {width:calc(33.33% - 100px); margin:60px 0 0 100px; }



.list-content.list-news .item img {width:100%; }

.list-content.list-news .item .detail {margin-top:24px; }
.list-content.list-news .item .detail h3 {font-weight:normal; font-size:1.8rem; text-decoration:underline; }
.list-content.list-news .item .detail .date {font-size:1.6rem; }
.list-content.list-news .item .detail h2 {margin:16px 0 5px; font:normal 2rem/1.3em 'markpro-bold'; }
.list-content.list-news .item .detail p {line-height:1.3em; }

.list-content.list-news .item .bottom {margin-top:36px; }
.list-content.list-news .item .bottom a {text-decoration:underline }
.list-content.list-news .item .bottom .group-btn {display:flex; justify-content:space-between; border-top:1px solid #231f20; padding-top:10px; margin-top:20px; }



.highlight-content {padding:60px 0 0; margin-bottom:-85px;}
.highlight-content .page-center {width:970px; min-height:485px; padding:60px 0; }
.highlight-content .page-center .bg {width:100%; height:100%; position:absolute; left:0; top:0; object-fit:cover; }


.description-highlight-content {background-color:#fff; padding:132px 0 90px; }
.description-highlight-content .content {text-align:center; }
.description-highlight-content .content h2 {font-weight:normal; font-size:2.4rem; }



.box-certification {max-width:calc(100%); display:flex; align-items:center; background-color:#065c9d; margin:46px auto 0; position: relative; padding-top: 50%;}
.box-certification iframe {top: 0;position: absolute;}
.box-certification img {width:170px; }
.box-certification p {padding:0 34px; text-align:left; color:#fff; }
.box-certification strong {font-weight:normal; font-family:'markpro-bold'; }
/* End Set Default Style */

/* End Share ------------- */





/* All Page
============= */

/* Home */
.home-page .menu-page {display:none !important; }
.home-page .menu-page.-home {display:block !important; }



.home-page .section {padding-top:120px; }

.section.welcome {padding-bottom:0; }

.section.welcome img {width:100%; }

.section.welcome .box-description {padding:118px; margin-top:45px; text-align:center; color:#fff; }
.section.welcome .box-description .title-section {margin-bottom:0; }



.section.future-is-well {background-position:50% 180px; padding:104px 0 86px; }
.section.future-is-well .page-center {width:970px; }
.section.future-is-well .title-section {margin-bottom:10px; }

.section.future-is-well .slide-future-is-well {width:770px; max-width:100%; height:385px; margin:0 auto; margin-bottom:38px; }

.section.future-is-well .slide-future-is-well .item {width:770px; display:flex; }
.section.future-is-well .slide-future-is-well .item .img {width:50%; }
.section.future-is-well .slide-future-is-well .item .img img {width:100%; }
.section.future-is-well .slide-future-is-well .item .text {width:50%; background-color:#065c9d; display:flex; align-items:center; justify-content:center; font-size:1.7rem; color:#fff; }
.section.future-is-well .slide-future-is-well .item .text strong {font-weight:normal; font-family:'markpro-bold'; }

html .section.future-is-well .slide-future-is-well .owl-prev {background-image:url('../img/icons/prev-dark.png'); }
html .section.future-is-well .slide-future-is-well .owl-next {background-image:url('../img/icons/next-dark.png'); }



.section.a-well-building {padding-bottom:86px; }
.section.a-well-building .title-section {margin-bottom:0; }
.section.a-well-building .title-section p {font-size:1.8rem; letter-spacing:0; }

.section.a-well-building .slide-a-well-building {margin-top:46px; }
.section.a-well-building .slide-a-well-building a {width:270px; display:block; }
.section.a-well-building .slide-a-well-building .img {width:270px; height:270px; display:block; margin-bottom:22px; }

.section.a-well-building .slide-a-well-building .detail {display:flex; }

.section.a-well-building .slide-a-well-building .icon {min-width:58px; height:58px; display:flex; align-items:center; justify-content:center; border:2px solid #231f20; border-radius:50%; margin-right:38px; }
.section.a-well-building .slide-a-well-building .icon img {width:auto; max-width:38px; }

.section.a-well-building .slide-a-well-building .text {display:flex; align-items:center; }
.section.a-well-building .slide-a-well-building .text h2 {margin-bottom:5px; font:normal 2.4rem/1em 'markpro-bold'; }
.section.a-well-building .slide-a-well-building .text p {line-height:1.3em; }


.section.a-well-building .slide-a-well-building .btn-more {width:270px; height:270px; display:flex; align-items:center; justify-content:center; border:2px solid #6b9080; }
.section.a-well-building .slide-a-well-building .btn-more p {position:relative; padding-bottom:40px; font-family:'markpro-bold'; letter-spacing:2px; color:#065c9d; }
.section.a-well-building .slide-a-well-building .btn-more p::after {content:''; width:21px; height:21px; display:block; background:url('../img/icons/arrow-right-dark.png') no-repeat; position:absolute; left:50%; bottom:0; margin-left:-10.5px; transition:200ms ease; }
.section.a-well-building .slide-a-well-building .btn-more:hover p::after {-webkit-transform:translateX(5px); -ms-transform:translateX(5px); -o-transform:translateX(5px); transform:translateX(5px); }

html .section.a-well-building .slide-a-well-building .owl-nav {top:115px; -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); -o-transform:translate(-50%,0); transform:translate(-50%,0); }
html .section.a-well-building .slide-a-well-building .owl-prev {background-image:url('../img/icons/prev-dark.png'); }
html .section.a-well-building .slide-a-well-building .owl-next {background-image:url('../img/icons/next-dark.png'); }



.section.project-info {background-color:#fff; border-top:1px solid #5c8473; border-bottom:1px solid #5c8473; padding:0 !important; margin-top:80px; }

.section.project-info .content {display:flex; justify-content:space-between; padding:0 !important; }

.section.project-info .detail {width:100%; display:flex; flex-direction:column; align-content:center; justify-content:center; padding:0 20px; }
.section.project-info .detail .title-section {margin-bottom:20px; }
.section.project-info .detail .title-section h1 {margin-top:10px; }
.section.project-info .detail .title-section h2 {font:normal 3rem/1em 'markpro'; color:#065c9d; }

.section.project-info .detail .title-section p {font-size:1.6rem; }

.section.project-info .img {min-width:50%; }
.section.project-info .img img {width:100%; }



.section.office {padding-top:80px; padding-bottom:0; }
.section.office .page-center {background-color:#fff; padding:60px 0 0; }
.section.office .page-center .title-section h2 {margin-top:5px; font:normal 2.4rem/1em 'markpro'; letter-spacing:3px; }

.section.office .page-center .content {padding:0 !important; }
.section.office .page-center .content p {padding:0 50px; }
.section.office .page-center .content .btn-style {width:370px; margin-top:26px; }

.section.office .page-center .content .group-img {display:flex; align-items:flex-start; margin-top:40px; }
.section.office .page-center .content .group-img img {width:50%; }



.section.retail {padding-top:80px; }
.section.retail .page-center {background-color:#fff; padding:60px 0 0; }
.section.retail .page-center .title-section h2 {margin-top:5px; font:normal 2.4rem/1em 'markpro'; letter-spacing:3px; }

.section.retail .page-center .content {padding:0 !important; }
.section.retail .page-center .content p {padding:0 50px; }
.section.retail .page-center .content .btn-style {width:370px; margin-top:26px; }

.section.retail .page-center .content .group-img {display:flex; align-items:flex-start; margin-top:40px; }
.section.retail .page-center .content .group-img img {width:50%; }



.banner-work-live-play {height:350px; display:flex; background-color:#065c9d; position:relative; }
.banner-work-live-play a {width:100%; display:block; }
.banner-work-live-play img {width:100%; }
.banner-work-live-play span {position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); transform:translate(-50%,-50%); color:#f2f3f1; font:normal 3rem/1.7em 'markpro'; text-align:center; letter-spacing:3px; }
.banner-work-live-play span strong {font-weight:normal; font-family:'markpro-bold'; }



.section.location {padding-top:80px; }
.section.location .page-center {display:flex; flex-wrap:wrap; justify-content:space-between; }
.section.location .img-map,
.section.location .box-location {width:calc(50% - 15px); min-height:570px; background-color:#fff; }

.section.location .img-map a {height:100%; display:flex; align-items:center; }
.section.location .img-map img {width:100%; }

.section.location .box-location {display:flex; flex-direction:column; justify-content:center; padding:0 100px; text-align:center; }

.section.location .box-location .title-section {margin-bottom:30px; }

.section.location .box-location .list-bullet {margin:0; text-align:left; }

.section.location .box-location .btn-style {width:100%; max-width:100%; margin-top:40px; }

.section.location .box-location .btn-text.map {display:flex; align-items:center; justify-content:center; margin-top:40px; }
.section.location .box-location .btn-text.map::after {content:''; width:19px; height:23px; display:inline-block; background:url('../img/icons/pin.png') no-repeat; position:relative; top:0; margin-left:4px; transition:200ms ease; }
.section.location .box-location .btn-text.map:hover::after {top:-5px; }



.section.news {padding:40px 0; }
.section.news .page-center {background-color:#fff; padding:80px 35px 40px; }
.section.news .title-section p {font-size:1.8rem; }

.section.news .btn-style {width:370px; max-width:90%; margin-top:80px; }



.section.contact .form-contact {width:370px; max-width:100%; margin:0 auto; }

.section.contact .form-contact .-solid {width:170px; height:48px; display:block; margin:0 auto; font:normal 2rem/1em 'markpro-bold'; }
/* End Home */





/* About */
.about-page .menu-page.-home {display:none !important; }

.about-page .section {padding-top:120px; }



.section.project-vision .page-center {width:970px; }



.section.gallery {padding-bottom:60px; }
.section.gallery .slide-gallery {width:1170px; max-width:100%; margin:0 auto; }
.slide-gallery {width:1170px; max-width:100%; margin:0 auto; }
.section.gallery .item {width:1170px; max-width:100%; }

.about-page .list {padding-top:90px; }
.list.gallery {padding-bottom:60px; }
.list.gallery .slide-gallery {width:1000px; max-width:100%; margin:0 auto; }
.list.gallery .item {width:1000px; max-width:100%; }


/* .about-page .section.gallery .owl-dots {display:none; } */



.section.design-concept {background-position:50% 100%; background-size:100%; background-repeat:no-repeat; }
.section.design-concept .title-section {margin-bottom:0; }

.section.design-concept .content {width:970px; max-width:100%; margin:0 auto; }

.section.design-concept .list-design-concept {flex-wrap:nowrap; position:relative; margin:42px 0 0; overflow:hidden; }
.section.design-concept .list-design-concept .item {width:100%; margin:0; }

.section.design-concept .list-design-concept .btn-expand {display:block; position:relative; }
.section.design-concept .list-design-concept .img {display:block; }
.section.design-concept .list-design-concept img {width:100%; }

.section.design-concept .list-design-concept .text {width:230px; height:48px; display:flex; align-items:center; justify-content:center; background-color:#fff; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); transform:translate(-50%,-50%); font-size:2.4rem; font-family:'markpro-bold'; }

.section.design-concept .list-design-concept .box-expand {width:50%; height:100%; display:block; background-color:#f2f3f1; position:absolute; right:-20px; top:0; padding:50px; font-size:1.6rem; z-index:13; overflow:hidden; overflow-y:auto; opacity:0; visibility:hidden; transition:300ms ease; }

.section.design-concept .list-design-concept .box-expand .btn-close {right:16px; top:16px; }

.section.design-concept .list-design-concept .item.expand {z-index:1; }
.section.design-concept .list-design-concept .item.expand .box-expand {right:0; opacity:1; visibility:visible; }

.section.design-concept .list-design-concept.show-expand .item {order:1; }
.section.design-concept .list-design-concept.show-expand .item.expand {order:0; }



.section.master-plan {background-position:50% 850px; padding-bottom:40px; }

.section.master-plan .content {position:relative; padding:0 !important; }
.section.master-plan .content img {width:100%; }

.section.master-plan .content .box-text {width:170px; position:absolute; left:40px; top:20px; text-align:center; }
.section.master-plan .content .box-text p {font-size:2.4rem; text-decoration:underline; letter-spacing:1px; }

.section.master-plan .content .box-text .btn-style {margin-top:10px; font-size:1.2rem; }

.section.master-plan .content .description {display:flex; flex-wrap:wrap; justify-content:space-between; padding-top:40px; margin-top:40px; }
.section.master-plan .content .description .col {width:calc(50% - 40px); }

.section.master-plan .content .description h2 {margin-bottom:10px; font:normal 1.8rem/1em 'markpro-bold'; text-decoration:underline; }

.section.master-plan .content .description p small {display:block; margin-top:5px; line-height:1.2em; }

.section.master-plan .content a.btn-style.-down {width:370px; background-color:#fff; margin-top:36px; }



.section.sustainability {padding:0; }
.section.sustainability .section-top {background:url('../img/about/bg-sustainability.jpg') 50% 0/cover no-repeat; padding:120px 0 80px; }

.section.sustainability .section-top .underline {margin-bottom:40px; }
.section.sustainability .logo-leed {width:100px; position:absolute; right:-120px; top:-25px; }


.section.sustainability .description {padding:80px 0; }
.section.sustainability .description h2 {font:normal 2.4rem/1em 'markpro-bold'; color:#065c9d; }


.list-content.list-features {justify-content:flex-start; margin-top:0; margin-left:-66.63px; }
.list-content.list-features .item {margin-left:66.63px; }
.list-content.list-features .img img {max-height:100px; }


.section.sustainability .list-content.list-features .item {width:calc(33.33% - 66.63px); }
.section.sustainability .list-content.list-features .item a {width:100%; height:240px; }
.section.sustainability .accordion .item > a {display:flex; flex-direction:column; justify-content:center; }
.section.sustainability .accordion .item > a span {text-decoration:none; font-size:1.8rem; }
.section.sustainability .accordion .item > a span:nth-of-type(2)::after {display:block; background-image:url('../img/icons/accordion-active.png') !important; margin:10px auto 0; }
.section.sustainability .accordion .item .item-content {background-color:#0e3650; padding:30px 20px; margin-top:auto; color:#fff; }
.section.sustainability .accordion .item .item-content .list-bullet > li {padding-left:30px; }
.section.sustainability .accordion .item .item-content .list-bullet > li::before {width:16px; height:11px; background:url('../img/share/bullet-green.png') no-repeat; border-radius:0; top:9px; }
.section.sustainability .accordion .item .item-content .list-bullet > li ul li {padding-left:10px; }
.section.sustainability .accordion .item .item-content .list-bullet > li ul li::before {width:4px; height:1px; background:#fff; top:17px; }



.section.smart-building .title-section {color:#000; }
.section.smart-building .content {background-color:#fff; padding:100px 100px 60px; }
.section.smart-building .content .items {display:flex; flex-wrap:wrap; margin:-30px 0 0 -30px; }
.section.smart-building .content .items .item {width:calc(20% - 30px); position:relative; margin:30px 0 0 30px; text-align:center; }
.section.smart-building .content .items .item img {width:100%; }
.section.smart-building .content .items .item p {width:100%; height:100%; display:flex; align-items:center; justify-content:center; position:absolute; left:0; top:0; padding-top:50px; font-size:1.8rem; line-height:1.2em; color:#fff; text-transform:uppercase; }
.section.smart-building .content .btn-style {width:370px; max-width:100%; margin-top:60px; }



.section.developer-team {background-color:#f2f3f1; }

/* .section.developer-team .slide-developer-team .owl-carousel .owl-stage-outer {overflow:visible; } */
.section.developer-team .slide-developer-team .owl-carousel .owl-stage-outer .owl-stage {display:flex; }
html .slide-developer-team .owl-prev {background-image:url('../img/icons/prev-dark.png'); left:-64px; }
html .slide-developer-team .owl-next {background-image:url('../img/icons/next-dark.png'); right:-64px; }

.section.developer-team .slide-developer-team .item {width:100%; height:100%; min-height:400px; background-color:#fff; padding:35px 35px 84px; text-align:center; }
.section.developer-team .slide-developer-team .item .img {height:100px; display:flex; align-items:center; justify-content:center; }
.section.developer-team .slide-developer-team .item .img img {width:auto; max-height:75px; display:block; }

.section.developer-team .slide-developer-team .item .detail {border-top:1px solid #f2f3f1; padding-top:20px; }
.section.developer-team .slide-developer-team .item .detail h2 {font:normal 2rem/1.4em 'markpro-bold'; }
.section.developer-team .slide-developer-team .item .detail h3 {margin:10px 0 20px; font:normal 1.8rem/1.4em 'markpro'; }

.section.developer-team .slide-developer-team .item .btn-text {width:100%; position:absolute; left:0; bottom:35px; font-size:1.4rem; }



.section.banner-register {padding:40px 0; }
.section.banner-register .img {min-width:50%; }
.section.banner-register .img img {width:100%; }
.section.banner-register .content {display:flex; background-color:#fff; padding:0 !important; }
.section.banner-register .content .detail {width:100%; display:flex; flex-wrap:wrap; align-content:center; justify-content:center; padding:0 20px; }
.section.banner-register .content .detail .title-section {margin-bottom:0; }
.section.banner-register .content .detail .btn-style {width:200px; padding:10px 0; margin-top:20px; }
/* End About */





/* Well */
.well-building-page .menu-page {display:none !important; }


.box-core-features {width:970px; max-width:100%; background-color:#fff; padding:66px 0 0; margin:80px auto 80px; }

.box-core-features-gallery {width:1170px; max-width:100%; background-color:#fff; padding:66px 0 0; margin:80px auto 80px; }


.list-core-features {display:flex; flex-wrap:wrap; padding:0 100px; margin:-40px 0 0 -30px; }
.well-building-page .list-core-features {padding-bottom:40px; }
.list-core-features .item {width:calc(25% - 30px); display:block; margin:40px 0 0 30px; }
.list-core-features .item img {width:100%; }
.list-core-features .item .icon {min-width:38px; height:38px; display:flex; align-items:center; justify-content:center; border:2px solid #231f20; border-radius:50%; margin-right:10px; }
.list-core-features .item .icon img {width:auto; max-width:28px; }
.list-core-features .item .detail {display:flex; align-items:center; padding-bottom:10px; margin-top:10px; }
.list-core-features .item .detail p {line-height:1em; }

.list-core-features .item.active .detail {border-bottom:1px solid #231f20; }
.list-core-features .item.active p {font-family:'markpro-bold'; }


.list-core-features .item .item-content {width:calc(100% * 4 + 90px); display:none; position:relative; margin-top:20px; overflow:hidden; }

.list-core-features .item:nth-of-type(2) .item-content {-webkit-transform:translateX(calc(-100% + 75% - 8px)); -ms-transform:translateX(calc(-100% + 75% - 8px)); -o-transform:translateX(calc(-100% + 75% - 8px)); transform:translateX(calc(-100% + 75% - 8px)); }
.list-core-features .item:nth-of-type(3) .item-content {-webkit-transform:translateX(calc(-100% + 50% - 15px)); -ms-transform:translateX(calc(-100% + 50% - 15px)); -o-transform:translateX(calc(-100% + 50% - 15px)); transform:translateX(calc(-100% + 50% - 15px)); }
.list-core-features .item:nth-of-type(4) .item-content {-webkit-transform:translateX(calc(-100% + 25% - 22px)); -ms-transform:translateX(calc(-100% + 25% - 22px)); -o-transform:translateX(calc(-100% + 25% - 22px)); transform:translateX(calc(-100% + 25% - 22px)); }
.list-core-features .item:nth-of-type(6) .item-content {-webkit-transform:translateX(calc(-100% + 75% - 8px)); -ms-transform:translateX(calc(-100% + 75% - 8px)); -o-transform:translateX(calc(-100% + 75% - 8px)); transform:translateX(calc(-100% + 75% - 8px)); }
.list-core-features .item:nth-of-type(7) .item-content {-webkit-transform:translateX(calc(-100% + 50% - 15px)); -ms-transform:translateX(calc(-100% + 50% - 15px)); -o-transform:translateX(calc(-100% + 50% - 15px)); transform:translateX(calc(-100% + 50% - 15px)); }
.list-core-features .item:nth-of-type(8) .item-content {-webkit-transform:translateX(calc(-100% + 25% - 22px)); -ms-transform:translateX(calc(-100% + 25% - 22px)); -o-transform:translateX(calc(-100% + 25% - 22px)); transform:translateX(calc(-100% + 25% - 22px)); }

.list-core-features .item .item-content .list-bullet > li {padding-left:0; }
.list-core-features .item .item-content .list-bullet > li::before {display:none; }
/* .list-core-features .item:hover .item-content .list-bullet ul li::before {background-color:#065c9d; } */



.box-core-features .box-expand .item {display:none; }
.box-core-features .row {display:block; border-top:1px solid #f3f4f2; position:relative; padding:36px 100px; }
.box-core-features .row h2 {font:normal 2rem/1em 'markpro'; text-decoration:underline; line-height: 1.4;}
.box-core-features .box-expand .row .btn-close {width:11px; height:11px; right:100px; top:40px; }

.box-core-features-gallery .box-expand .item {display:none; }
.box-core-features-gallery .row {display:block; border-top:1px solid #f3f4f2; position:relative; padding:36px 100px; }
.box-core-features-gallery .row h2 {font:normal 2rem/1em 'markpro'; text-decoration:underline; line-height: 1.4;}
.box-core-features-gallery .box-expand .row .btn-close {width:11px; height:11px; right:100px; top:40px; }



.find-out-more .list-find-out-more {display:flex; flex-wrap:wrap; margin-left:-30px; }
.find-out-more .list-find-out-more .item {width:calc(33.33% - 30px); height:200px; display:flex; flex-wrap:wrap; align-items:center; justify-content:center; background-color:#f2f3f1; position:relative; margin-left:30px; text-align:center; }
.find-out-more .list-find-out-more .item img {width:100%; height:100%; object-fit:cover; }

.find-out-more .list-find-out-more .item .box-text {width:100%; position:absolute; left:0; top:50%; transform:translateY(-50%); padding-bottom:40px; color:#fff; }
.find-out-more .list-find-out-more .item .box-text::before {content:''; width:21px; height:21px; display:block; background:url('../img/icons/arrow-right-light.png') no-repeat; position:absolute; left:50%; bottom:0; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%); transition:200ms ease; }

/* .find-out-more .list-find-out-more .item .underline {padding-bottom:58px; }
.find-out-more .list-find-out-more .item .underline::before {content:''; width:21px; height:21px; display:block; background:url('../img/icons/arrow-right-dark.png') no-repeat; position:absolute; left:50%; bottom:0; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%); transition:200ms ease; }
.find-out-more .list-find-out-more .item .underline::after {bottom:40px; } */
.find-out-more .list-find-out-more .item p {font-size:2rem; letter-spacing:3px; } 
.find-out-more .list-find-out-more .item h2 {font:normal 3rem/1em 'markpro-bold'; letter-spacing:4px; }

.desktop .find-out-more .list-find-out-more .item:hover .box-text::before {margin-left:5px; }
/* End Well */





/* Office */
.office-page .menu-page {display:none !important; }



.office-vision .page-center {width:970px; }
.office-vision .page-center .title-section {margin-bottom:0; }



.box-newest {position:relative; margin-top:80px; }
.box-newest .img img {width:100%; }
.box-newest .detail {width:270px; height:100%; display:flex; flex-wrap:wrap; align-content:center; justify-content:center; background-color:#fff; position:absolute; left:0; top:0; padding:0; text-align:center; }
.box-newest .detail .title-section {width:100%; }
.box-newest .detail .title-section .underline {padding-bottom:12px; margin-bottom:6px; }
.box-newest .detail .title-section p {font-size:1.8rem; }
.box-newest .detail .title-section h1 {font-size:2.4rem; line-height:1.2em; letter-spacing:1px; }

.box-newest .detail > .list-bullet {margin-top:30px; }
.box-newest .detail > .list-bullet > li {padding:0; margin:0; line-height:1.3em; }
.box-newest .detail > .list-bullet > li::before {display:inline-block; position:relative; left:0; top:-4px; margin-right:6px; }
.box-newest .detail > .list-bullet > li strong {font-weight:normal; font-family:'markpro-bold'; }

.box-newest .detail .group-logo {display:flex; justify-content:center; margin-top:28px; }
.box-newest .detail .group-logo img {max-height:84px; }
.box-newest .detail .group-logo img + img {margin-left:28px; }

.box-newest .detail .btn-style {width:auto; flex-direction:column; padding:10px 40px 20px; margin-top:40px; font-size:1.5rem; }
.box-newest .detail .btn-style p {font-size:1.6rem; font-family:'markpro'; }
.box-newest .detail .btn-style h2 {font-size:1.6rem; }
.box-newest .detail .btn-style::after {content:''; min-width:14px; height:15px; display:inline-block; background:url('../img/icons/arrow-right-small-light.png') 0 0/100% no-repeat; position:relative; top:2px; left:0; margin-top:8px; margin-left:4px; transition:200ms ease; }


.box-newest .detail .box-expand {width:700px; height:100%; background-color:#0e3650; position:absolute; left:250px; top:0; padding:50px 32px 30px; text-align:left; opacity:0; visibility:hidden; transition:200ms ease; }
.box-newest .detail .box-expand.expand {left:270px; opacity:1; visibility:visible; }
.box-newest .detail .box-expand .list-bullet {height:100%; padding-right:5px; margin:0; overflow:hidden; overflow-y:auto; }
.box-newest .detail .box-expand .list-bullet li {padding-left:0; margin-top:3px; font-size:1.6rem; line-height:1.4em; }
.box-newest .detail .box-expand .list-bullet li::before {display:none; top:9px; }
.box-newest .detail .box-expand .list-bullet ul li {padding-left:25px; }
.box-newest .detail .box-expand .list-bullet ul li::before {display:block; top:6px; }

.box-newest .detail .box-expand .btn-close {width:25px; height:25px; }



.section.floor-plan {padding-bottom:0; }
.section.floor-plan .title-section {width:650px; text-align:left; }
.section.floor-plan .title-section h2 {font:normal 2.4rem/1.4em 'markpro'; }
.section.floor-plan .title-section p {font-size:1.8rem; }

.section.floor-plan .content.-plan {display:flex; justify-content:space-between; padding-bottom:40px; }

.section.floor-plan .content.-plan .btn-style {width:170px; margin-top:30px; }

.section.floor-plan .content.-plan .img-plan {position:relative; padding-right:150px; margin-left:20px; }
.section.floor-plan .content.-plan .img-plan img {width:573px; }

.section.floor-plan .content.-plan .img-plan .nav-slide {display:flex; flex-direction:column; position:absolute; right:0; top:28px; }
.section.floor-plan .content.-plan .img-plan .nav-slide a {display:block; padding-left:10px; margin-top:20px; font:normal 1.6rem/1em 'markpro-bold'; }
.section.floor-plan .content.-plan .img-plan .nav-slide a span {position:relative; }
.section.floor-plan .content.-plan .img-plan .nav-slide a span::after {content:''; width:calc(100% + 10px); height:2px; display:block; background-color:#a4a4a4; position:absolute; left:-9px; bottom:0; }
.section.floor-plan .content.-plan .img-plan .nav-slide a small {font-size:87.5%; font-family:'markpro'; }

.section.floor-plan .content.-plan .img-plan .nav-slide a.active {color:#065c9d; }

.section.floor-plan .content.-plan .img-plan .nav-slide a.disabled {opacity:0.2; }

.section.floor-plan .content.-plan .img-plan .nav-slide a:nth-of-type(2) {margin-top:40px; }
.section.floor-plan .content.-plan .img-plan .nav-slide a:nth-of-type(3) {margin-top:20px; }

.section.floor-plan .content.-plan .slide-plan {margin-top:30px; }
.section.floor-plan .content.-plan .slide-plan .item {width:370px; max-width:100%; margin-bottom:40px; }
.section.floor-plan .content.-plan .slide-plan .item img {width:100%; }

.section.floor-plan .description {padding:40px 0; }
.section.floor-plan .description p {margin:0; }

.section.floor-plan .description .content {display:flex; justify-content:space-between; }
.section.floor-plan .description .content .col {width:48%; }
.section.floor-plan .description .row {display:flex; }
.section.floor-plan .description .row p:first-child {min-width:200px; }

.section.floor-plan .description .btn-style {width:370px; background-color:#fff; margin-top:40px; }



.office-page .section.well-features .title-section p {font-size:1.8rem; }
.office-page .section.well-features .page-center {margin-top:0; }

.office-page .section.well-features .content {padding:0 !important; }
.office-page .section.well-features .list-core-features {padding:0; padding-bottom:40px; margin-top:0; }
.office-page .section.well-features .list-core-features .item {width:calc(50% - 30px); min-height:190px; display:flex; background-color:#fff; margin-top:30px; }
.office-page .section.well-features .list-core-features .item .icon {min-width:170px; height:100%; flex-wrap:wrap; align-content:center; background-color:#97a7ba; border:none; border-radius:0; margin-right:0; text-align:center; }
.office-page .section.well-features .list-core-features .item .icon img {max-width:50px; }
.office-page .section.well-features .list-core-features .item .icon p {width:100%; margin-top:5px; font-family:'markpro-bold'; color:#fff; }

.office-page .section.well-features .list-core-features .item .des {padding:20px 20px 20px 34px; }
.office-page .section.well-features .list-core-features .item .des p {width:100%; font-size:1.8rem; font-family:'markpro'; line-height:1.4em; color:#231f20; }

.office-page .section.well-features .list-core-features .item.-air .icon {background-color:#97a7ba; }
.office-page .section.well-features .list-core-features .item.-water .icon {background-color:#2f5075; }
.office-page .section.well-features .list-core-features .item.-light .icon {background-color:#cfadac; }
.office-page .section.well-features .list-core-features .item.-nourishment .icon {background-color:#0e3650; }
.office-page .section.well-features .list-core-features .item.-fitness .icon {background-color:#87322f; }
.office-page .section.well-features .list-core-features .item.-comfort .icon {background-color:#92ada2; }
.office-page .section.well-features .list-core-features .item.-mind .icon {background-color:#3d3023; }
/* End Office */





/* Retail */
.retail-page .menu-page {display:none !important; }

.retail-page .highlight-content {margin-bottom:0; }

.retail-page .description-highlight-content {background:none; padding-top:80px; }
.retail-page .description-highlight-content .page-center {width:970px; }
.retail-page .description-highlight-content .title-section {margin-bottom:0; }

.retail-page .description-highlight-content .content {display:flex; flex-wrap:wrap; justify-content:space-between; }
.retail-page .description-highlight-content .content p {width:50%; }
.retail-page .description-highlight-content .content p:first-child {width:100%; }

.retail-page .description-highlight-content .content .quote {width:48%; background-color:#fff; padding:60px 80px; margin-top:30px; }
.retail-page .description-highlight-content .content .quote .inner {position:relative; }
.retail-page .description-highlight-content .content .quote .inner::before,
.retail-page .description-highlight-content .content .quote .inner::after {content:''; width:26px; height:20px; display:block; background:url('../img/share/quote-open.png') no-repeat; position:absolute; left:-20px; top:-15px; text-indent:-9999px; }
.retail-page .description-highlight-content .content .quote .inner::after {background-image:url('../img/share/quote-close.png'); left:auto; right:-20px; top:auto; bottom:-15px; }

.retail-page .description-highlight-content .content .quote p {font-size:2.4rem; line-height:1.4em; }



.section.selling-points {padding-bottom:40px; }
.section.selling-points .page-center {width:970px; }

.section.selling-points .content {padding-bottom:40px; }

.section.selling-points .slide-selling-points {width:1170px; padding:40px 0; }
/* .section.selling-points .slide-selling-points .owl-stage-outer {overflow:visible; } */
.section.selling-points .slide-selling-points .item {width:370px; max-width:100%; display:block; position:relative; overflow:hidden; }
.section.selling-points .slide-selling-points .item h2 {height:100px; display:flex; align-items:center; justify-content:center; background-color:#0e3650; font:normal 2.4rem/1.4em 'markpro-bold'; text-align:center; color:#fff; }
.section.selling-points .slide-selling-points .item .img {position:relative; }
.section.selling-points .slide-selling-points .item .img::after {content:''; width:30px; height:32px; display:block; background:url('../img/icons/plus-dark.png') no-repeat; position:absolute; left:50%; top:50%; margin:-15px 0 0 -16px; }

.section.selling-points .slide-selling-points .item .box-des {width:100%; height:calc(100% - 100px); display:block; background-color:#fff; position:absolute; left:0; top:100px; padding:20px 36px; font-size:1.6rem; line-height:1.4em; color:#231f20; opacity:0; -webkit-transform:translateY(100%); -ms-transform:translateY(100%); -o-transform:translateY(100%); transform:translateY(100%); transition:250ms ease; }
.section.selling-points .slide-selling-points .item.show-des .box-des {opacity:1; -webkit-transform:translateY(0); -ms-transform:translateY(0); -o-transform:translateY(0); transform:translateY(0); }

.section.selling-points .slide-selling-points .item .box-des .inner {display:block; position:relative; top:-20px; opacity:0; transition:200ms 250ms ease; }
.section.selling-points .slide-selling-points .item.show-des .box-des .inner {top:0; opacity:1; }

.section.selling-points .slide-selling-points .item .box-des .list-bullet > li {padding-left:20px; }
.section.selling-points .slide-selling-points .item .box-des .list-bullet > li::before {width:15px; height:10px; background:url('../img/share/bullet.png'); border-radius:0; top:8px; }
.section.selling-points .slide-selling-points .item .box-des .list-bullet.-bold > li + li {margin-top:5px; }

.section.selling-points .slide-selling-points .item .box-des .list-bullet.-bold p {font-family:'markpro'; }

html .section.selling-points .slide-selling-points .owl-nav {top:auto; bottom:110px; -webkit-transform:translate(-50%,0); -ms-transform:translate(-50%,0); -o-transform:translate(-50%,0); transform:translate(-50%,0); }
html .section.selling-points .slide-selling-points .owl-prev {background-image:url('../img/icons/prev-dark.png'); }
html .section.selling-points .slide-selling-points .owl-next {background-image:url('../img/icons/next-dark.png'); }



.section.key-wellness-features {padding-bottom:0; }

.section.key-wellness-features .content {padding-bottom:80px; }

.slide-key-wellness-features {position:relative; padding:40px 0; margin-bottom:40px; }
.slide-key-wellness-features::after {content:''; width:100%; height:1px; display:block; background-color:#d3d2d2; position:absolute; bottom:0; left:0; }

.slide-key-wellness-features .owl-carousel .owl-stage-outer {overflow:visible; }
.slide-key-wellness-features .owl-stage::before {content:''; width:270px; height:1px; display:block; background-color:#231f20; position:absolute; bottom:-40px; left:0; transition:200ms ease; }

.slide-key-wellness-features .owl-stage#l1::before {left:0; }
.slide-key-wellness-features .owl-stage#l2::before {left:300px; }
.slide-key-wellness-features .owl-stage#l3::before {left:600px; }
.slide-key-wellness-features .owl-stage#l4::before {left:900px; }

.slide-key-wellness-features .item {width:100%; height:100%; display:block; }
/* .slide-key-wellness-features .item::after {content:''; width:0; height:1px; display:block; background-color:#231f20; position:absolute; left:0; bottom:-40px; transition:200ms ease; }
.slide-key-wellness-features .item.active::after {width:100%; } */

.slide-key-wellness-features h2 {height:100px; display:flex; align-items:center; justify-content:center; flex-direction:column; font:normal 2.4rem/1.2em 'markpro-bold'; color:#fff; }
.slide-key-wellness-features h2 small {font-size:66.66%; font-family:'markpro'; }

.slide-key-wellness-features .item.-f-b h2 {background-color:#f7e096; }
.slide-key-wellness-features .item.-retail h2 {background-color:#f8b197; }
.slide-key-wellness-features .item.-facilities h2 {background-color:#854c95; }
.slide-key-wellness-features .item.-smart-features h2 {background-color:#0067a8; }

.slide-key-wellness-features .item.active h2 {color:#231f20; }


.key-wellness-features .box-expand {background-color:#fff; padding:40px 70px; }

.key-wellness-features .box-expand .item + .item {display:none; }

.key-wellness-features .box-expand li + li {margin-top:24px; }

.key-wellness-features .list-bullet > li {padding-left:20px; }
.key-wellness-features .list-bullet > li::before {width:15px; height:10px; background:url('../img/share/bullet.png'); border-radius:0; top:8px; }


html .key-wellness-features .owl-prev {background-image:url('../img/icons/prev-dark.png'); }
html .key-wellness-features .owl-next {background-image:url('../img/icons/next-dark.png'); }



.retail-page .section.floor-plan .content.-plan .img-plan .nav-slide a {margin-top:27px; }

.retail-page .section.floor-plan .content.-plan .img-plan .nav-slide a:nth-of-type(1),
.retail-page .section.floor-plan .content.-plan .img-plan .nav-slide a:nth-of-type(2),
.retail-page .section.floor-plan .content.-plan .img-plan .nav-slide a:nth-of-type(3) {order:1; margin-top:5px; font-size:1.4rem; }
/* End Retail */





/* Location */
.location-page .menu-page {display:none !important; }

.location-page .highlight-content {margin-bottom:0; }
.location-page .highlight-content .page-center {padding:0 0 40px; }
.location-page .highlight-content .title-section p {font-size:1.8rem; line-height:1.6em; }

.location-page .highlight-content .content {position:relative; padding:0 !important; }
.location-page .highlight-content .content img {width:100%; }
.location-page .highlight-content .content .description-location {position:absolute; left:0; top:0; transition:200ms ease; }
.location-page .highlight-content .content .btn-style {border:2px solid #fff; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); transform:translate(-50%,-50%); }
.location-page .highlight-content .content .btn-style.btn-show {display:none; }

.location-page .highlight-content .content.hide-des .description-location {opacity:0; visibility:hidden; }
.location-page .highlight-content .content.hide-des .btn-style.btn-hide {display:none; }
.location-page .highlight-content .content.hide-des .btn-style.btn-show {display:block; }



.location-page .description-highlight-content {padding:40px 0; text-align:center; }
.location-page .description-highlight-content .page-center {width:970px; }



.location-page .location-detail .page-center {width:970px; }
.location-page .location-detail .content {display:flex; justify-content:space-between; }
.location-page .location-detail .content .col {width:calc(50% - 55px); }
.location-page .location-detail .content .col strong {text-decoration:underline; }



.location-page .location-detail.-card-style .col {width:calc(50% - 15px); background-color:#fff; }
.location-page .location-detail.-card-style .col .img img {width:100%; }
.location-page .location-detail.-card-style .col .detail {padding:40px 72px; }
.location-page .location-detail.-card-style .col h2 {margin-bottom:20px; font:normal 2.4rem/1.2em 'markpro-bold'; text-align:center; }
.location-page .location-detail.-card-style .col h2 span {text-decoration:underline; }

.location-page .location-detail .list-bullet > li {padding-left:20px; }
.location-page .location-detail .list-bullet > li::before {width:15px; height:10px; background:url('../img/share/bullet.png'); border-radius:0; top:10px; }



.location-page .map-location {padding-bottom:40px; }
.location-page .map-location .content {padding:0 !important; }
.location-page .map-location .title-section p {font-size:1.8rem; line-height:1.6em; }
.location-page .map-location .img {margin-top:60px; }
.location-page .map-location .img img {width:100%; }

.location-page .map-location .group-btn {display:flex; justify-content:center; margin-top:40px; }
.location-page .map-location .group-btn a {width:260px; background-color:#fff; margin:0 0 0 40px; }
.location-page .map-location .group-btn a:first-child {margin:0; }



.location-page .project-info {margin-top:0 !important; }
/* End Location */





/* News */
.news-page .menu-page {display:none !important; }

.news-page .highlight-content .page-center {min-height:inherit; padding:0; }
.news-page .highlight-content .page-center img {display:none; }
.news-page .highlight-content .title-section {margin-bottom:0 !important; }

.section.filter {margin-top:80px; }
.section.filter .page-center {background-color:#fff; padding:30px 36px 20px; }
.section.filter h2 {font:normal 2rem/1em 'markpro-bold'; text-align:center; color:#065c9d; }
.section.filter .filter-items {display:flex; flex-wrap:wrap; border-top:2px solid #f2f3f1; padding-top:10px; margin-top:20px; }
.section.filter .filter-items .item {width:calc(33.33%); margin-top:10px; }
.section.filter .filter-items .checkbox-style label::before {border-radius:0; top:2px; }
.section.filter .filter-items .checkbox-style input[type="checkbox"]:checked + label::before {background-color:transparent; }
.section.filter .filter-items .checkbox-style label::after {background-image:url('../img/icons/correct-dark.png'); background-position:50% 40%; }
.section.filter .filter-items .checkbox-style input[type="checkbox"]:checked + label::after {top:2px; }



.section.filter + .section {padding-top:40px; margin-top:-80px; }

.news-page .section.news .page-center {background-color:#fff; padding-top:40px; padding-bottom:40px; }



.section.pagination {padding:0 0 40px; margin-top:0; font-size:2rem; }
.section.pagination ul {height:50px; display:flex; align-items:center; justify-content:center; background-color:#fff; }

.section.pagination li {position:relative; padding-left:25px; margin-left:25px; }
.section.pagination li::before {content:''; width:2px; height:18px; display:block; background-color:#231f20; position:absolute; left:0; top:7px; }
.section.pagination li:nth-of-type(2) {padding-left:0; margin-left:0; }
.section.pagination li:nth-of-type(2)::before {display:none; }

.section.pagination li.active {font-family:'markpro-bold'; color:#065c9d; }

.section.pagination li:first-child {position:relative; margin-left:0; padding:0 24px 0 22px; margin-right:24px; }
.section.pagination li:first-child::before {content:''; width:14px; height:15px; display:block; background:url('../img/icons/arrow-left-small-dark.png') no-repeat; position:absolute; left:0; top:7px; }
.section.pagination li:first-child::after {content:''; width:2px; height:18px; display:block; background-color:#231f20; position:absolute; right:0; top:7px; }

.section.pagination li:last-child {position:relative; padding:0 22px 0 24px; margin-left:24px; }
.section.pagination li:last-child::before {content:''; width:2px; height:18px; display:block; background-color:#231f20; position:absolute; left:0; top:7px; }
.section.pagination li:last-child::after {content:''; width:14px; height:15px; display:block; background:url('../img/icons/arrow-right-small-dark.png') no-repeat; position:absolute; right:0; top:8px; }

.section.pagination li.disabled {display:none; }

/* .section.pagination .first {position:relative; padding-left:28px; margin-right:58px; }
.section.pagination .first::before {content:''; width:17px; height:15px; display:block; background:url('../img/icons/arrow-first-small-dark.png') no-repeat; position:absolute; left:0; top:8px; }

.section.pagination .last {position:relative; padding-right:28px; margin-left:58px; }
.section.pagination .last::before {content:''; width:17px; height:15px; display:block; background:url('../img/icons/arrow-last-small-dark.png') no-repeat; position:absolute; right:0; top:8px; } */



.news-page.-detail .section {padding:60px 0 40px; }
.news-page.-detail .content {padding:0 !important; }
.news-page.-detail .section .page-center {background-color:#fff; padding:80px 100px; }

.news-page.-detail .title-news {padding:0 60px; margin-bottom:32px; text-align:center; }
.news-page.-detail .title-news h1 {margin-bottom:30px; font:normal 3rem/1.6em 'markpro-bold'; }
.news-page.-detail .title-news p {margin:0; font-size:2rem; }
.news-page.-detail .title-news p a {text-decoration:underline; }

.news-page.-detail .title-news p .author {position:relative; padding-left:16px; margin-left:16px; }
.news-page.-detail .title-news p .author::before {content:''; width:2px; height:18px; display:block; background-color:#231f20; position:absolute; left:0; top:7px; }
.news-page.-detail .title-news p + p {margin-top:10px; }
.news-page.-detail .title-news .btn-style {width:230px; margin-top:32px; }

.news-page.-detail .content img {max-width:100%; }
.news-page.-detail .content p {margin-top:30px; }
.news-page.-detail .content p a {text-decoration:underline; }

.news-page.-detail .btn-style.-back {width:250px; background-color:#fff; margin-top:40px; }
/* End News */





/* Contact */
.contact-us-page .menu-page {display:none !important; }

.contact-us-page .section .page-center {width:770px; padding:80px 0; }

.contact-us-page .address .page-center {background-color:#fff; padding:60px 40px; margin-top:40px; text-align:center; }
.contact-us-page .address .page-center .underline {padding:0 40px 20px; margin-bottom:20px; }
.contact-us-page .address .page-center h3 {margin-bottom:5px; font:normal 2rem/1em 'markpro-bold'; }
/* End Contact */





/* Register */
.register-page .menu-page {display:none !important; }
.register-page .register .page-center {width:570px; background-color:#fff; padding:80px 0 0; }
.section.register .form-register {width:100%; margin:0 auto; }

.section.register .form-register li {padding:0 86px; }
.section.register .form-register li:last-child {padding:40px 0 100px; }

.section.register .form-register .-solid {width:170px; height:48px; display:block; margin:0 auto; font:normal 2rem/1em 'markpro-bold'; }
/* End Register */

/* End All Page ------------- */





/* Popup
============= */

.popup {max-width:calc(100vw - 40px); background-color:#fff; margin:20px 0; }
.popup * {box-sizing:border-box; }


.popup .inner {width:1000px; max-width:100%; padding:40px; }

.popup .content h2 {margin:36px 0 10px; font-weight:normal; font-size:2.4rem; font-family:'markpro-bold'; color:#065c9d; }

.popup-alert .inner {width:500px; }
.popup-alert .img-logo img {margin:0 auto; }
.popup-alert .title-section {margin-top:40px; }



.popup-developer-team .img img {width:auto; max-height:100px; margin:0 auto; }
.popup-developer-team .title-section {margin-top:45px; margin-bottom:20px; text-align:left; color:#065c9d; }
.popup-developer-team .title-section h1 {margin-bottom:0; font-size:3.4rem; letter-spacing:0; }
.popup-developer-team .title-section h2 {margin-top:5px; font-weight:normal; font-size:2.5rem; font-family:'markpro'; letter-spacing:0; }

.popup-developer-team .content p + p {margin-top:25px; }
.popup-developer-team .content a {color:#065c9d; }

/* End Popup ------------- */





/* Plugin
============= */

/* Fancybox */
html .fancybox-overlay {background:rgba(0,0,0,0.7); z-index:131313; }
html .fancybox-wrap {z-index:13131313; }
html .fancybox-skin {background:none; border-radius:0; }
html .fancybox-inner {overflow:visible !important; }
html .fancybox-close {width:50px; height:50px; background:#0e3650; right:-50px; top:0; }
html .fancybox-close::before {content:''; width:100%; height:100%; display:block; background:url('../img/icons/close-white.png') 50% 50%/50% no-repeat; transition:200ms ease; }
html.desktop .fancybox-close:hover::before {-webkit-transform:rotate(90deg); -ms-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg); }



/* html .fancybox-nav span {width:60px; height:60px; display:block; background:none !important; margin-top:-30px; }

html .fancybox-nav.fancybox-prev span {left:0; }
html .fancybox-nav.fancybox-next span {right:0; }

html .fancybox-nav span::before {content:''; width:100%; height:100%; display:block; background-position:50% 50%; background-repeat:no-repeat; background-size:80%; }

html .fancybox-nav.fancybox-prev span::before {background-image:url('../img/icons/navigate_before-white.svg') !important; }
html .fancybox-nav.fancybox-next span::before {background-image:url('../img/icons/navigate_next_white.svg') !important; } */
/* End Fancybox */



/* Owl */
html .owl-nav {width:1170px; max-width:100%; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); transform:translate(-50%,-50%); pointer-events:none; opacity:1; transition:250ms ease; }

html .owl-nav div.disabled {opacity:0.1 !important; }

html .owl-prev,
html .owl-next {width:54px; height:54px; background:url('../img/icons/prev.png') 50% 50% no-repeat; position:absolute; left:0; top:0; text-indent:-9999px; pointer-events:all; }
html .owl-next {background-image:url('../img/icons/next.png'); left:auto; right:0; }


html .owl-dots {width:100%; display:flex; justify-content:center; position:absolute; left:0; bottom:24px; pointer-events:none; }
html .owl-dots .owl-dot {width:9px; height:9px; background-color:#0e3650; border-radius:50%; pointer-events:all; }
html .owl-dots .owl-dot + .owl-dot {margin-left:10px; }
html .owl-dots .owl-dot.active {background-color:#fff; }
/* End Owl */
.gallery-thumb{
    text-align: center;
    margin: auto;
    width: 30%;
}

/* End Plugin ------------- */
fieldset {
    border: none;
  }
  .form-group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
  }
  
  .form-control {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #065c9d;
    outline: 0;
    color: black;
    padding: 7px;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form-control::placeholder {
    color: transparent;
  }
  .form-control:placeholder-shown ~ .control-label {
    cursor: text;
    top: 20px;
  }
  
  .control-label {
    display: block;
    transition: 0.2s;
    color: black;
  }
  
  .form-control:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #065c9d, #065c9d);
    border-image-slice: 1;
  }
  .form-control:focus ~ .control-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: #065c9d;
    font-weight: 700;
  }
  
  .text-muted {
    display: none;
  }
  
  textarea{
      border: 1px solid #065c9d !important;
  }
  
  .form-actions .btn-primary{
      width: 170px;
      height: 48px;
      display: block;
      margin: 0 auto;
      font: 400 2rem/1em markpro-bold;
      background-color: #1f433c;
      border: none;
      color: #fff!important;
      transition: 250ms ease;
  }