@media screen and (max-width:1024px) {
	#header .group-menu-header {left:250px; }



	p br {display:none; }



	.nav-page,
	#header .menu-page {display:none !important; }



	.content {padding:0 40px; }



	.list-content {margin-left:-60px; }
	.list-content .item {width:calc(33.33% - 60px); margin-left:60px; }



	.section.project-info .page-center {max-width:100%; }



	.section.office .content p {padding:0 15px; }



	.section.retail .content p {padding:0 15px; }



	.home-page .section,
	.about-page .section {padding-top:80px; }

	.about-page .description-highlight-content {padding-top:132px; }


	.section.smart-building .content .items .item p {font-size:1.6rem; }
	.section.smart-building .content .items .item p br {display:block; }


	.section.design-concept .list-design-concept .box-expand {width:100%; }

	.section.design-concept .list-design-concept.show-expand .item {order:0; }
	.section.design-concept .list-design-concept.show-expand .item.expand {order:0; }


	.section.master-plan .content .box-text {left:30px; }
	.section.master-plan .content .description {padding-right:40px; padding-left:40px; }


	.section.sustainability {padding:0 !important; }
	.section.sustainability .section-top {padding:80px 0; }



	.list-content.list-features {margin-left:-37.96px; }
	.list-content.list-features .item {margin-left:37.96px; }



	.section.floor-plan .title-section {width:100%; padding:0 40px; }

	.section.floor-plan .content.-plan {flex-wrap:wrap; justify-content:center; }
	.section.floor-plan .content.-plan .img-plan {width:100%; display:flex; flex-direction:column; align-items:center; padding-right:0; margin:0; }
	.section.floor-plan .content.-plan .img-plan .nav-slide {right:auto; left:50%; -webkit-transform:translateX(calc(-50% + 362px)); -ms-transform:translateX(calc(-50% + 362px)); -o-transform:translateX(calc(-50% + 362px)); transform:translateX(calc(-50% + 362px)); }

	.section.floor-plan .description .content {padding:0 40px; }



	.slide-key-wellness-features::after {display:none; }
	.slide-key-wellness-features .owl-stage::before {display:none; }
	.slide-key-wellness-features .item::after {content:''; width:0; height:1px; display:block; background-color:#231f20; position:absolute; left:0; bottom:-40px; transition:200ms ease; }
	.slide-key-wellness-features .item.active::after {width:100%; }



	.accordion .item .item-content {padding:0 40px; }



	.location-page .location-detail .content {padding:0; }



	html .slide-developer-team .owl-prev {left:0; }
	html .slide-developer-team .owl-next {right:0; }



	html .fancybox-close {right:0; top:-50px; }
}










/* Tablet
============= */

/* Ipad Pro Landscape */
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio:1.5) {}
/* End Ipad Pro Landscape */





/* Ipad Pro Portrait */
@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio:1.5) {}
/* End Ipad Pro Portrait */




/* Main Layout Tablet */
@media only screen and (max-width:1023px) {
	#container {padding-top:70px; }



	#header {height:70px; }

	#header .hamburger {display:block !important; }

	#header .logo {width:45px; height:54px; top:9px; }

	#header .group-menu-header {height:100%; top:0; }

	#header .mainmenu {width:285px; flex-wrap:wrap; background-color:#fff; border:1px solid #cdd0d1; border-top:none; position:absolute; right:0; top:50px; padding:0 14px; opacity:0; visibility:hidden; }
	#header .mainmenu .col {width:100%; margin:0 !important; }
	#header .mainmenu .col > a {border-top:2px solid #f4f5f4; padding:22px 32px; margin:0 !important; text-transform:uppercase; }
	#header .mainmenu .col:first-child a:first-child {border:none; }

	#header .mainmenu .col .menu-news {border-top:2px solid #f4f5f4; padding:22px 32px; margin-bottom:0; }
	#header .mainmenu .col .menu-news > a {text-transform:uppercase; }
	#header .mainmenu .col .menu-news .submenu a {margin-top:10px !important; }

	.open-menu #header .mainmenu {top:70px; opacity:1; visibility:visible; transition:200ms ease; }

	#header .tools {height:100%; display:flex; right:70px; align-items:center; }

	#header .tools .box-search {margin: 0 38px 0 0; overflow:hidden; }
	#header .tools .box-search.open-search {width:170px; }
	#header .tools .box-search.open-search .inputtext-style {left:auto; right:0; }

	#header .tools .language {min-width:64px; margin:0 38px 0 0; }

	#header .tools .btn-register {width:170px; height:40px; display:flex; align-items:center; justify-content:center; background-color:#0e3650; margin:0 30px 0 0; color:#f2f3f1 !important; transition:250ms ease; }
	.desktop #header .tools .btn-register:hover {background-color:#231f20; }



	#footer .section-top .box-subscribe p {margin-right:30px; font-size:1.6rem; line-height:1.2em; }
	#footer .section-top .box-subscribe input {width:330px; }
	#footer .section-top .btn-facebook {margin-left:30px; line-height:1.2em; }

	#footer .section-bottom .bottom a {margin-left:20px; }



	.section.future-is-well {padding-top:80px; }



	.section.smart-building .content {padding:60px; }
	.section.smart-building .content .items .item {width:calc(33.33% - 30px); }
	.section.smart-building .content .items .item p {font-size:1.8rem; }



	.section.project-info {width:calc(100% - 12px); border:1px solid #5c8473; margin:80px auto 0; }
	.section.project-info .content {flex-wrap:wrap; }
	.section.project-info .detail {padding-top:40px; }
	.section.project-info .img {width:100%; margin-top:40px; }



	.section.design-concept .list-design-concept .text {width:70%; height:32px; font-size:1.8rem; }

	.section.design-concept .list-design-concept .box-expand {font-size:1.4rem; line-height:1.4em; }


	.section.master-plan .content .box-text {width:100%; background-color:#fff; position:relative; left:0; top:0; padding:40px 0; }
	.section.master-plan .content .box-text .btn-style {width:170px; }

	.section.master-plan .content .description {padding-right:20px; padding-left:20px; }
	.section.master-plan .content .description .col {width:calc(50% - 20px); }


	.list-content.list-features {margin-left:0; }
	.list-content.list-features .item {width:50%; margin-left:0; }
	.section.sustainability .list-content.list-features {margin-left:-66.63px; }
	.section.sustainability .list-content.list-features .item {width:calc(50% - 66.63px); margin-left:66.63px; }



	.section.gallery {width:calc(100% - 12px); margin-right:auto; margin-left:auto; }



	.list-core-features {padding:0 40px; }



	.description-highlight-content.office-vision {padding-bottom:40px; }

	.box-newest .detail {width:100%; height:auto; position:relative; left:0; padding:46px 0; }
	.box-newest .detail .btn-style {width:auto; }
	.box-newest .detail .box-expand {width:100%; left:0; top:0; margin-top:20px; transition:none; }
	.box-newest .detail .box-expand.expand {position:relative; left:0; margin-bottom:-40px; }



	.retail-page .description-highlight-content .content {padding:0 40px; }

	.section.selling-points .content {padding:0 40px 40px; }



	.section.floor-plan .content.-plan .img-plan img {margin-left:-150px; }
	.section.floor-plan .content.-plan .img-plan .nav-slide {-webkit-transform:translateX(calc(-50% + 287px)); -ms-transform:translateX(calc(-50% + 287px)); -o-transform:translateX(calc(-50% + 287px)); transform:translateX(calc(-50% + 287px)); }


	.section.floor-plan .description .content {flex-wrap:wrap; }
	.section.floor-plan .description .content .col {width:100%; }
	.section.floor-plan .description .content .col + .col,
	.section.floor-plan .description .row + .row {margin-top:20px; }



	.section.banner-register .content {width:calc(100% - 80px); flex-wrap:wrap; margin:0 auto; }
	.section.banner-register .img {width:100%; }
	.section.banner-register .content .detail {padding:40px; }



	.section.location .page-center {max-width:100%; background-color:#fff; padding-bottom:40px; }
	.section.location .img-map,
	.section.location .box-location {width:100%; min-height:auto; }

	.section.location .box-location {padding-top:40px; }
	.section.location .img-map {width:calc(100% - 12px); border:1px solid #5c8473; padding:40px 0; margin:40px auto 0; order:2; }



	.office-page .section.well-features .list-core-features .item {display:block;  }
	.office-page .section.well-features .list-core-features .item .icon {width:100%; height:auto; min-height:140px; }
	.office-page .section.well-features .list-core-features .item .des {display:block; }



	.location-page .location-detail .content {padding:0 20px; }

	.location-page .location-detail.-card-style .col .detail {padding:40px 20px; }



	.news-page.-detail .section .page-center {padding-right:60px; padding-left:60px; }
	.news-page.-detail .title-news {padding:0; }



	.box-core-features .box-expand .row {padding-right:60px; padding-left:60px; }
	.box-core-features .box-expand .row .btn-close {right:60px; }
}
/* End Main Layout Tablet */

/* End Tablet ------------- */










/* Mobile
============= */

/* Main Layout Mobile Landscape */
@media only screen and (max-width:767px) {
	/* .open-menu #header .mainmenu {height:calc(100vh - 70px); overflow:hidden; overflow-y:auto; } */



	#footer .section-bottom .bottom {flex-wrap:wrap; padding:15px 0 0; margin-top:22px; }

	#footer .section-bottom .bottom a {position:relative; padding-right:15px !important; margin:0 15px 0 0 !important; }
	#footer .section-bottom .bottom a::after {content:''; width:2px; height:14px; background-color:#065c9d; position:absolute; right:0; top:8px; }

	#footer .section-bottom .bottom a:nth-last-child(2)::after {display:none; }
	#footer .section-bottom .bottom a.btn-to-top {width:42px; height:42px; background:url('../img/icons/to-top.png') 50% 50% no-repeat; border:1px solid #000; border-radius:50%; position:fixed; right:16px; bottom:16px; margin:0 !important; text-indent:-9999px; z-index:1313; }



	.list-content {margin-left:-15px; }
	.list-content .item {width:calc(33.33% - 15px); margin-left:15px; }

	.list-content.list-news .item .detail h2 {font-size:1.7rem; }
	.list-content.list-news .item .detail h3 {font-size:1.5rem; }
	.list-content.list-news .item .detail p {font-size:1.4rem; }
	.list-content.list-news .item .detail .date {font-size:1.3rem; }
	.list-content.list-news .item .btn-text {font-size:1.4rem; }



	.highlight-content {margin-bottom:0; }
	.highlight-content .page-center {min-height:auto; padding:0; }
	.highlight-content .page-center .title-section {margin-bottom:40px; }
	.highlight-content .page-center .bg {position:relative; }



	.section.future-is-well .slide-future-is-well .item {width:100%; }



	.section.smart-building .content {padding:40px 20px; }



	.section.office .page-center .content p,
	.section.retail .page-center .content p {padding:0 20px; }



	.section.design-concept .content {padding:0 40px; }


	.section.design-concept .list-design-concept {flex-wrap:wrap; padding:0 40px; }
	.section.design-concept .list-design-concept .item + .item {margin-top:40px; }
	.section.design-concept .list-design-concept .text {width:auto; height:auto; display:block; padding:20px 40px; text-align:center; }
	.section.design-concept .list-design-concept .text::after {content:''; width:14px; height:15px; display:block; background:url('../img/icons/plus.png') no-repeat; margin:10px auto 0; }

	.section.design-concept .list-design-concept .item::before {display:none; }
	.section.design-concept .list-design-concept .item .box-expand {display:block; right:0; padding:30px 40px; font-size:1.8rem; line-height:1.6em; }
	.section.design-concept .list-design-concept .item.expand .box-expand {height:auto; position:relative; }
	.section.design-concept .list-design-concept .box-expand .btn-close {position:relative; right:0; top:0; margin:20px auto 0; }


	.section.master-plan .content .description {padding:0 20px; }
	.section.master-plan .content .description .col {width:100%; }
	.section.master-plan .content .description .col + .col {margin-top:36px; }



	.well-building-page .description-highlight-content {padding-top:40px; }




	.well-building-page .list-core-features .item .detail {position:relative; }
	.well-building-page .list-core-features .item .detail::after {content:''; width:14px; height:14px; display:block; background:url('../img/icons/accordion.png') 50% 50% no-repeat; margin-left:auto; }
	.well-building-page .list-core-features .item.active .detail::after {background-image:url('../img/icons/accordion-active.png'); }

	.well-building-page .box-core-features .item.active {border:none; }
	.well-building-page .box-core-features .item .item-content .btn-close {position:relative; right:0; top:0; margin:30px auto 0; }

	.well-building-page .box-core-features .item.active .item-content {width:calc(100vw - 92px); border-top:1px solid #dedddd; border-bottom:1px solid #dedddd; padding:20px 0; -webkit-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); }
	.well-building-page .box-core-features .item:nth-of-type(2n).active .item-content {-webkit-transform:translateX(calc(-50% - 15px)); -ms-transform:translateX(calc(-50% - 15px)); -o-transform:translateX(calc(-50% - 15px)); transform:translateX(calc(-50% - 15px)); }

	.well-building-page .box-core-features .item .item-content .row:first-child {border:none; }
	.well-building-page .box-core-features .item .item-content .row {padding-right:0; padding-left:0; }

	.well-building-page .box-core-features .box-expand {display:none !important; }

	.well-building-page .box-core-features-gallery .item.active {border:none; }
	.well-building-page .box-core-features-gallery .item .item-content .btn-close {position:relative; right:0; top:0; margin:30px auto 0; }

	.well-building-page .box-core-features-gallery .item.active .item-content {width:calc(100vw - 92px); border-top:1px solid #dedddd; border-bottom:1px solid #dedddd; padding:20px 0; -webkit-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); }
	.well-building-page .box-core-features-gallery .item:nth-of-type(2n).active .item-content {-webkit-transform:translateX(calc(-50% - 15px)); -ms-transform:translateX(calc(-50% - 15px)); -o-transform:translateX(calc(-50% - 15px)); transform:translateX(calc(-50% - 15px)); }

	.well-building-page .box-core-features-gallery .item .item-content .row:first-child {border:none; }
	.well-building-page .box-core-features-gallery .item .item-content .row {padding-right:0; padding-left:0; }

	.well-building-page .box-core-features-gallery .box-expand {display:none !important; }



	.find-out-more .list-find-out-more {margin-left:0; }
	.find-out-more .list-find-out-more .item {width:80%; margin:0 auto; }
	.find-out-more .list-find-out-more .item + .item {margin-top:40px; }



	.retail-page .description-highlight-content .content p {width:100%; }
	.retail-page .description-highlight-content .content .quote {width:100%; }



	.section.floor-plan .content.-plan .img-plan .img {width:573px; max-width:90%; margin:0 auto; overflow:hidden; }
	.section.floor-plan .content.-plan .img-plan img {width:calc(100% + 9px); margin:0; }
	.section.floor-plan .content.-plan .img-plan p.mobile-style {display:block !important; margin-top:40px; font:normal 1.8rem/1em 'markpro-bold'; text-decoration:underline; }

	.section.floor-plan .content.-plan .img-plan .nav-slide {position:relative; left:0; top:0; -webkit-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); margin-top:20px; }
	.section.floor-plan .content.-plan .img-plan .nav-slide a {border:1px solid #dedddd; padding:10px 30px; }
	.section.floor-plan .content.-plan .img-plan .nav-slide a + a {margin-top:15px !important; }
	.section.floor-plan .content.-plan .img-plan .nav-slide a span::after {display:none; }
	.section.floor-plan .content.-plan .img-plan .nav-slide a small {font-size:100%; font-family:'markpro-bold'; }
	.section.floor-plan .content.-plan .img-plan .nav-slide a.disabled {display:none; }



	.location-page .location-detail {padding:60px 0; }
	.location-page .location-detail .content {flex-wrap:wrap; }
	.location-page .location-detail .content .col {width:100%; }
	.location-page .location-detail .content .col + .col {margin-top:30px; }



	.section.news .page-center {padding-left:20px; padding-right:20px; }
	.section.news .btn-style {margin-top:40px; }



	.section.pagination .first,
	.section.pagination .last {display:none; }



	.section.filter {padding:60px 0; margin:0; }



	.news-page.-detail .section .page-center {padding:40px 15px; }
	.news-page.-detail .title-news h1 {font-size:2.4rem; }
	.news-page.-detail .title-news p {font-size:1.6rem; }
	.news-page.-detail .content p {font-size:1.6rem; }



	.list-core-features .item {width:calc(50% - 30px); }



	.section.well-features {padding-bottom:0; }



	.section.selling-points .slide-selling-points .item {width:100%; }



	.section.sustainability .list-content.list-features {margin-left:0; }
	.section.sustainability .list-content.list-features .item {width:50%; margin-left:0; }
}
/* End Main Layout Mobile Landscape */





/* Iphone 6 Plus Landscape  */
@media only screen and (max-width:736px) {}
/* End Iphone 6 Plus Landscape  */





/* Iphone 6 Landscape  */
@media only screen and (max-width:667px) {
	#header .group-menu-header {left:0; }

	#header .tools .btn-register,
	#header .tools .language,
	#header .tools .box-search {margin-right:15px !important; }



	#footer .section-top {padding:35px 0 30px; }
	#footer .section-top .page-center {flex-wrap:wrap; }
	#footer .section-top .box-subscribe input {width:355px; }
	#footer .section-top .btn-facebook {width:100%; justify-content:center; border-top:1px solid #dedddd; padding-top:22px; margin:22px 0 0; }
}
/* End Iphone 6 Landscape  */





/* Galaxy Landscape  */
@media only screen and (max-width:640px) {
	#footer .section-bottom .top p {font-size:1.3rem; }
	/* #footer .section-bottom .bottom a {margin-left:12px; font-size:1.3rem; } */
}
/* End Galaxy Landscape  */





/* Iphone 5 Landscape  */
@media only screen and (max-width:568px) {
	#header .logo {left:0; }

	#header .box-search .inputtext-style,
	#header .tools .box-search.open-search {width:140px !important; }
}
/* End Iphone 5 Landscape  */





/* Main Layout Mobile Portrait */
@media only screen and (max-width:479px) {
	#header .page-center {max-width:100%; }

	#header .logo {left:50%; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%); }

	#header .hamburger {width:65px; right:auto; left:0; }


	#header .box-search.outer {display:block; position:absolute; right:20px; top:26px; }
	#header .box-search.outer.open-search {width:140px; }
	#header .box-search.outer.open-search .inputtext-style {left:auto; right:0; }


	#header .group-menu-header {height:100%; background-color:#fff; position:fixed; right:0; left:0; top:-20px !important; padding-top:140px; z-index:13; overflow:hidden; overflow-y:auto; opacity:0; visibility:hidden; transition:200ms ease; }
	.open-menu #header .group-menu-header {top:0 !important; opacity:1; visibility:visible; }
	#header .group-menu-header::before {content:''; width:100%; height:70px; background-color:#fff; position:fixed; left:0; top:0; z-index:1313; }
	#header .group-menu-header .mainmenu {width:100%; height:auto; border:none; position:relative; top:0 !important; opacity:1; }

	#header .group-menu-header .tools {height:auto; display:block; position:static; right:auto; }

	#header .group-menu-header .tools .box-search {width:calc(100% - 28px) !important; height:40px; position:absolute; left:14px; top:95px; }
	#header .group-menu-header .tools .box-search .btn-search {top:10px; }
	#header .group-menu-header .tools .box-search .inputtext-style {width:100% !important; position:absolute; left:0; top:0; padding-left:32px; opacity:1 !important; visibility:visible !important; }


	#header .group-menu-header .tools .language {display:flex; border-top:2px solid #f4f5f4; align-items:center; padding:16px 40px; }
	#header .group-menu-header .tools .language p {display:block; margin-right:40px; }
	#header .group-menu-header .tools .language a {line-height:1.2em; }
	#header .group-menu-header .tools .language a + a {padding-left:20px; margin-left:16px; }
	#header .group-menu-header .tools .language a.active {text-decoration:underline; }


	#header .group-menu-header .tools .btn-register {width:100%; height:75px; justify-content:flex-start; padding-left:40px; }



	#footer {width:calc(100% - 16px); margin:0 auto; }
	#footer .page-center {padding:0 20px; }
	#footer .section-top .box-subscribe {width:100%; flex-wrap:wrap; justify-content:center; }
	#footer .section-top .box-subscribe p {width:100%; margin:0 0 20px; text-align:center; }
	#footer .section-top .box-subscribe input {width:100%; }

	#footer .section-bottom .top {align-items:center; }
	#footer .section-bottom .top .logo {margin-top:15px; }
	#footer .section-bottom .top p {border-left:1px solid #065c9d; padding-left:30px; margin-left:30px; }

	/* #footer .section-bottom .bottom {flex-wrap:wrap; padding:15px 0 0; margin-top:22px; }
	
	#footer .section-bottom .bottom a {position:relative; padding-right:15px !important; margin:0 15px 0 0 !important; }
	#footer .section-bottom .bottom a::after {content:''; width:2px; height:14px; background-color:#065c9d; position:absolute; right:0; top:8px; }
	
	#footer .section-bottom .bottom a:nth-last-child(2)::after {display:none; }
	#footer .section-bottom .bottom a.btn-to-top {width:42px; height:42px; background:url('../img/icons/to-top.png') 50% 50% no-repeat; border:1px solid #000; border-radius:50%; position:fixed; right:16px; bottom:16px; margin:0 !important; text-indent:-9999px; z-index:1313; } */



	.form-style .checkbox-style .row .col {width:100%; }
	.form-style .checkbox-style .row .col + .col {margin-top:10px; }



	.desktop-style {display:none !important; }
	.mobile-style {display:block !important; }
	.btn-style.mobile-style {display:flex !important; }



	.title-section {margin-bottom:10px; }
	.title-section h1 {font-size:2.2rem; line-height:1.4em; }
	.title-section p {font-size:1.8rem; line-height:1.4em; }



	.section {padding:60px 0; }



	.content {padding:0; }



	.list-content {margin-left:0; }
	.list-content .item {width:100%; margin-left:0; }

	.list-content.list-news {margin-top:40px; }
	.list-content.list-news .item .detail h2 {font-size:2rem; }
	.list-content.list-news .item .detail h3 {font-size:1.8rem; }
	.list-content.list-news .item .detail p {font-size:1.8rem; }
	.list-content.list-news .item .detail .date {font-size:1.6rem; }



	.section.pagination {font-size:1.4rem; }
	.section.pagination li {padding-left:15px; margin-left:15px; }
	.section.pagination li:first-child {margin-right:0; }
	.section.pagination li:first-child::after {display:none; }
	.section.pagination li:last-child {margin-left:0; }
	.section.pagination li:last-child::before {display:none; }



	.highlight-content {background:#fff; padding-top:0; }
	.highlight-content .title-section {padding-top:40px; }





	.section.welcome .box-description {width:calc(100% - 12px); padding:30px 32px; margin:0 auto; }


	.section.future-is-well {width:calc(100% - 12px); padding:60px 0; margin:0 auto; }
	.section.future-is-well .slide-future-is-well {width:calc(100% - 12px); height:auto; margin:0 auto 38px; }
	.section.future-is-well .slide-future-is-well .item {flex-wrap:wrap; }
	.section.future-is-well .slide-future-is-well .item .img {width:100%; }
	.section.future-is-well .slide-future-is-well .item .text {width:100%; padding:48px 0; text-align:center; }
	.section.future-is-well .slide-future-is-well .item .text strong {display:block; margin-top:12px; }

	html .section.future-is-well .slide-future-is-well .owl-nav {top:calc(100% - 360px); -webkit-transform:translate(-50%,0%); -ms-transform:translate(-50%,0%); -o-transform:translate(-50%,0%); transform:translate(-50%,0%); }

	.section.future-is-well .content {padding:0 28px; }



	.section.a-well-building {padding:60px 0; }
	.section.a-well-building .btn-style {width:80%; margin-top:40px; }



	.section.project-info .detail {padding:40px 20px 0; }
	.section.project-info .detail .btn-style {max-width:100%; text-align:center; }


	.home-page .list-content.list-news .item {margin-top:0; }



	.home-page .section,
	.about-page .section {padding-top:60px; }



	.about-page .section.highlight-content {padding-top:0; padding-bottom:0; }
	.about-page .description-highlight-content {padding-top:40px; padding-bottom:0; }
	.section.project-vision .page-center {max-width:100%; background-color:#fff; padding:40px 20px; }
	.about-page .section.gallery {padding-top:40px; padding-bottom:40px; }

	.section.design-concept .content {padding:0 20px; }
	.section.design-concept .list-design-concept {padding:0 20px; }


	.section.master-plan {background:#fff; padding-top:40px; }
	.section.master-plan .title-section {margin-bottom:40px; }
	.section.master-plan .content a.btn-style.-down {max-width:95%; }

	.section.sustainability .section-top {padding-top:60px; padding-bottom:0; }

	.section.sustainability .section-top .underline {margin-bottom:140px; }
	.section.sustainability .logo-leed {width:100px; position:absolute; right:auto; left:50%; top:60px; margin-left:-50px; }

	.section.sustainability .description {padding-top:60px; }



	.section.smart-building .content .items .item {width:calc(50% - 30px); }
	.section.smart-building .content .items .item p {font-size:1.6rem; }



	.box-certification {background-color:#fff; flex-wrap:wrap; }
	.box-certification img {margin:0 auto; }
	.box-certification p {width:100%; background-color:#4a7764; padding:20px; }



	.list-content.list-features a {font-size:1.6rem; }
	.list-content.list-features .item-content {width:calc(100vw - 12px); border-top:1px solid #dedddd; border-bottom:1px solid #dedddd; padding:20px; font-size:1.6rem; }
	.list-content.list-features .item:nth-of-type(2n) .item-content {-webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); -o-transform:translateX(-50%); transform:translateX(-50%); }



	.well-building-page .highlight-content {padding-bottom:0; }
	.well-building-page .box-core-features {margin-top:0; }



	.well-building-page .box-core-features .item.active .item-content {width:calc(100vw - 53px); }
	.well-building-page .box-core-features .item:nth-of-type(2n).active .item-content {-webkit-transform:translateX(calc(-50% - 5.5px)); -ms-transform:translateX(calc(-50% - 5.5px)); -o-transform:translateX(calc(-50% - 5.5px)); transform:translateX(calc(-50% - 5.5px)); }


	.well-building-page .box-core-features .item .item-content .row {padding-top:18px; padding-bottom:18px; }



	.find-out-more .title-section {margin-bottom:40px; }



	.section.office .page-center .title-section h2 {font-size:1.8rem; }
	.section.office .page-center .content .group-img img {width:100%; }
	.section.office .page-center .content .group-img img + img {display:none; }



	.section.retail .page-center .title-section h2 {font-size:1.8rem; }
	.section.retail .page-center .content .group-img img {width:100%; }
	.section.retail .page-center .content .group-img img + img {display:none; }



	.section.floor-plan .title-section {padding:0 20px 40px; }

	.section.floor-plan .description .content {padding:0 20px; }
	.section.floor-plan .description .row {flex-wrap:wrap; }

	.section.floor-plan .description .btn-style {max-width:100%; }
	.key-wellness-features .box-expand {padding:30px; }



	.section.banner-register .content {width:calc(100% - 20px); }
	.section.banner-register .content .detail {padding:40px 20px; }



	.banner-work-live-play {width:calc(100% - 12px); height:180px; margin:0 auto; }
	.banner-work-live-play img {height:100%; object-fit:cover; }
	.banner-work-live-play span {width:100%; font-size:2rem; }



	.section.location {padding-bottom:0; }
	.section.location .page-center {padding-bottom:0; }
	.section.location .box-location {padding:40px 30px; }
	.section.location .box-location .title-section {margin-bottom:10px; }
	.section.location .img-map {margin-top:0; }



	.section.news .page-center {padding:60px 20px; }
	.section.news .page-center .list-news .item + .item {display:none; }



	.section.contact .page-center {padding-right:20px; padding-left:20px; }


	.section.register .page-center {padding-right:20px; padding-left:20px; }



	.office-page .section.highlight-content {padding-top:0; padding-bottom:0; }

	.box-newest .detail .box-expand.expand .btn-close {width:36px; height:36px; position:relative; right:0; top:0; margin:30px auto 0; }


	.list-core-features {padding:0 20px; margin-left:-10px; }
	.list-core-features .item {width:calc(50% - 10px); margin-left:10px; }
	.list-core-features .item .icon {min-width:30px; height:30px; }
	.list-core-features .item .icon img {max-width:18px; }
	.list-core-features .item .text {width:50%; font-size:1.6rem; }



	.office-page .section.well-features .list-core-features .item {width:100%; }



	.retail-page .highlight-content {padding-bottom:0; }

	.retail-page .description-highlight-content .content {padding:0 10px; }
	.retail-page .description-highlight-content .content .quote {padding:40px; }


	.section.selling-points .slide-selling-points .item .img::after {width:80px; height:80px; background:#fff url('../img/icons/plus-dark.png') 50% 50% no-repeat; margin:-40px 0 0 -40px; }

	.section.selling-points .slide-selling-points .item .box-des {transition:none; }
	.section.selling-points .slide-selling-points .item.show-des .box-des {border:1px solid #dedddd; position:relative; top:0; }
	.section.selling-points .slide-selling-points .item.show-des .box-des .btn-close {position:relative; right:0; top:0; margin:40px auto 10px; cursor:pointer; }

	html .section.selling-points .slide-selling-points .owl-nav {bottom:auto; top:220px; }


	.gallery .title-section {margin-bottom:40px; }

	html .slide-gallery .owl-nav {-webkit-transform:translate(-50%,calc(-50% - 70px)); -ms-transform:translate(-50%,calc(-50% - 70px)); -o-transform:translate(-50%,calc(-50% - 70px)); transform:translate(-50%,calc(-50% - 70px)); }
	html .slide-gallery .owl-dots {position:relative; bottom:0; padding:30px 0; }



	.section.floor-plan .content.-plan .slide-plan {width:90%; margin-right:auto; margin-left:auto; }



	.location-page .highlight-content {padding-bottom:0; }
	.location-page .highlight-content .page-center {padding-bottom:0; }
	.location-page .highlight-content .content .btn-style {display:none; }
	.location-page .map-location .group-btn {flex-wrap:wrap; }
	.location-page .map-location .group-btn a {margin:0; }
	.location-page .map-location .group-btn a + a {margin-top:20px; }



	.section.filter {padding-top:0; margin-top:-60px; }
	.section.filter .page-center {max-width:100%; padding:30px 12px; }
	.section.filter h2 {position:relative; cursor:pointer; }
	.section.filter h2::after {content:''; width:14px; height:14px; display:block; background:url('../img/icons/accordion.png') 50% 50% no-repeat; position:absolute; right:0; top:4px; }

	.section.filter.open h2::after {background-image:url('../img/icons/accordion-active.png'); }

	.section.filter .filter-items {display:none; padding:10px 20px 0; }
	.section.filter.open .filter-items {display:block; }
	.section.filter .filter-items .item {width:100%; }



	.news-page .section.news .page-center .list-news,
	.news-page .section.news .page-center .list-news .item:first-child {margin-top:0; }
	.news-page .section.news .page-center .list-news .item + .item {display:block; }



	.news-page.-detail .section {padding-top:0; }
	.news-page.-detail .title-news h1 {margin-bottom:15px; font-size:2.2rem; }
	.news-page.-detail .title-news p .author {display:block; padding-left:0; margin-left:0; margin-top:5px; }
	.news-page.-detail .title-news p + p {margin-top:5px; }
	.news-page.-detail .title-news p .author::before {display:none; }



	.contact-us-page .section {padding-top:0; }
	.contact-us-page .contact .page-center {padding-top:40px; padding-bottom:40px; }
	.contact-us-page .address .page-center {padding:40px 20px; margin-top:0; }
	.contact-us-page .address .page-center .underline {padding:0 10px 40px; margin-bottom:40px; }



	.register-page .section {padding:0; }
	.register-page .register .page-center {padding-top:40px; }
	.section.register .form-register li {padding:0; }



	.popup .content h2 {font-size:2rem; }



	.section.sustainability .list-content.list-features .item {width:100%; }
	.section.sustainability .list-content.list-features .item:nth-of-type(2n) .item-content {-webkit-transform:translateX(0); -ms-transform:translateX(0); -o-transform:translateX(0); transform:translateX(0); }
}
/* End Main Layout Mobile Portrait */





/* Iphone 6 Plus Portrait */
@media only screen and (max-width:414px) {}
/* End Iphone 6 Plus Portrait */





/* Iphone 6 Portrait */
@media only screen and (max-width:375px) {
	#header .box-search.outer.open-search,
	#header .box-search.outer.open-search .inputtext-style {width:120px !important; }
}
/* End Iphone 6 Portrait */





/* Galaxy Portrait */
@media only screen and (max-width:360px) {}
/* End Galaxy Portrait */





/* Iphone 5 Portrait */
@media only screen and (max-width:320px) {
	#header .box-search.outer.open-search,
	#header .box-search.outer.open-search .inputtext-style {width:100px !important; }



	#footer .page-center {padding:0 6px; }



	.title-section h1 {font-size:2rem; }
	.title-section p {font-size:1.6rem; line-height:1.4em; }
}
/* End Iphone 5 Portrait */

/* End Mobile ------------- */