@font-face {
    font-family: 'Kanit';
    src: url('Kanit-ExtraBold.eot');
    src: url('Kanit-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Kanit-ExtraBold.woff2') format('woff2'),
        url('Kanit-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Black.eot');
    src: url('Kanit-Black.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Black.woff2') format('woff2'),
        url('Kanit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Italic.eot');
    src: url('Kanit-Italic.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Italic.woff2') format('woff2'),
        url('Kanit-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Medium.eot');
    src: url('Kanit-Medium.eot?#iefix') format('embedded-opentype'),
        url('Kanit-Medium.woff2') format('woff2'),
        url('Kanit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

